<div class="flex items-center justify-center z-50 border border-red-500 w-full">
  <div class="flex flex-col items-center justify-center  bg-white w-10/12">
    <full-calendar
      [options]="calendarOptions"
      style="width: 95%"
    ></full-calendar>

    <div>
      <p class="text-gray-600 text-xl font-medium">
        Dias de Trabajo :
        <span class="text-green-700 text-2xl font-semibold">
          {{ sumaDiasDeTrabajo }}
        </span>
      </p>
    </div>

    <div class="w-5/12">
      <div
        class="flex justify-between border p-2"
        *ngFor="let data of datoDeEmpleado"
      >
        <p class="flex flex-col font-semibold text-gray-800">
          {{ data.fecha }}
          <span class="text-gray-600 text-xs">
            {{ data.hora_entrada }}hs a {{ data.hora_de_salida }}hs
          </span>
        </p>
        <p class="flex items-center">
          {{ calcularEntreHoras(data.hora_entrada, data.hora_de_salida) }}
        </p>
      </div>

      <div *ngIf>
        <p class="font-semibold text-gray-800">Bonificacion</p>
        <div class="flex justify-between py-2 px-4">
          <p>capo</p>
          <p>$600</p>
        </div>
      </div>

      <div class="flex justify-end py-4">
        <p>Total de horas: {{ result.asHours() }}</p>
      </div>

      <div class="flex justify-between">
        <div>
          <button
            type="button"
            class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
          >
            Bonificar
          </button>
        </div>

        <div class="flex items-center">Total: 0</div>
      </div>

      <div>
        <div class="flex items-center gap-10">
          Pago por hora:
          <input
            class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
          />
        </div>
      </div>
    </div>
  </div>
</div>
