<body class="flex items-center justify-center py-8 px-2" >
    <div class="w-full sm:px-6 max-h-[862]">
        <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 rounded-tl-lg rounded-tr-lg">
            <div class="sm:flex items-center justify-between">
                <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-700">Estas en el local : </p>
                <div>
                  <!--   <button class="inline-flex sm:ml-3 mt-4 sm:mt-0 items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                        <p class="text-sm font-medium leading-none text-white">New Project</p>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto">
            <table class="w-full whitespace-nowrap">
                <thead>
                    <tr class="h-16 w-full text-sm leading-none text-gray-800">
                        <th class="font-normal text-center " >Codigo</th>
                        <th class="font-normal text-center " >Modelo & Diseño</th>
                        <th class="font-normal text-center ">Color</th>
                        <th class="font-normal text-center ">Talles</th>
                        <th class="font-normal text-center ">Local</th>
                        <th class="font-normal text-center ">Precio</th>
                        <th class="font-normal text-center "></th>
                    </tr>
                </thead>
                <tbody class="w-full">
                    <tr class="h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
                        <td class="">
                            <p class="text-sm font-medium leading-none text-gray-800 text-center">120</p>
                    
                        </td>
                        <td class="">
                         
                                    <p class="font-medium text-center">Campera</p>
                                    <p class="text-xs leading-3 text-gray-600 pt-2 text-center">Love you</p>
                              
                        </td>

                        <td class="">
                            <p class="text-sm font-medium leading-none text-gray-800 text-center">Rojo, Negro, Verde, Azul</p>
                   
                        </td>
                        <td class="">
                            <p class="text-xs leading-3 text-gray-600 mt-2 text-center">4,6,8,10,12</p>
                        </td>
                        <td class="">
                            <p class="font-medium text-center">Central</p>
                         
                        </td>
                        <td class="">
                            <p class="font-medium text-center">$540</p>
                          
                        </td>
                        <td class="">
                            <div class="flex items-center">
                                <button class=" bg-white transition duration-150 ease-in-out hover:border-indigo-600 hover:text-indigo-600 rounded border border-indigo-700 text-indigo-700 px-3 py-2 text-xs">Agregar a carrito</button>

                               
                            </div>
                        </td>
       
                    </tr>
              
                </tbody>
            </table>
        </div>
    </div>

</body>
<app-shopping-cart ></app-shopping-cart>
<app-quick-views *ngIf></app-quick-views>
