<!-- 
 
 
<div [ngClass]="'z-50 absolute flex justify-center items-center inset-0 '" >
    
     <div class=" container">
         <div class="flex items-center justify-center  "> -->

 

<!-- content start -->


<div class="relative">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border border-black w-full"> 


        <div class="container flex flex-col mx-auto w-full items-center justify-center bg-white dark:bg-gray-800 rounded-lg shadow">
            <div class="px-4 py-5 sm:px-6 border-b w-full">
                <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
                    User database
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-gray-200">
                    Details and informations about user.
                </p>
            </div>
            <div class="grid grid-cols-3">
                <ul class="flex flex-col divide divide-y">
        
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">

                            

    <div class=" relative ">
    <input type="text" id="rounded-email" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Codigo"/>
    </div>
    <div class="flex flex-row gap-1 pl-2">
        <button type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
            <fa-icon [icon]="faExit" size="lg" [fixedWidth]="true" ></fa-icon>
        </button>
    
        <button type="button" class="text-green-700 border border-green-700 hover:bg-green-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm p-1 text-center inline-flex items-center dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:focus:ring-green-800">
            <fa-icon [icon]="faCheck" size="lg" [fixedWidth]="true" ></fa-icon>
        </button>
    </div>
   
                           
                 <!--            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Codigo
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    123
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button> -->
                        </div>
                    </li>
            
            
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Modelo
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    Camiseta c/v
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
        
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Fecha de corte
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    20-03-22
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
        
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Edad
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    Nena
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
        
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Rollos
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                 6
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
        
        
        
                 
            
                </ul>
        
        
        
                <ul class="flex flex-col divide divide-y">
        
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Peso Promedio
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    12kg
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
            
            
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Total por Talle
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    123
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>

                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Talle
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    6
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>

                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Total
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    123
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>

                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Taller
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    Juam
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
            
                </ul>

                <ul class="flex flex-col divide divide-y">
        
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Fecha de salida
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    12-03-22
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
            
            
                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Fecha de entrada
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    12-04-22
                                </div>
                            </div>
                          
                            <button class="w-8 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>


                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Pago
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    No pagado
                                </div>
                            </div>
                          
                            <button class="w-24 text-right flex justify-end">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>


                    <li class="flex flex-row">
                        <div class="select-none cursor-pointer flex flex-1 items-center p-4">
                           
                            <div class="flex-1 pl-1 ">
                                <div class="font-medium dark:text-white">
                                    Cantida entregada
                                </div>
                                <div class="text-gray-600 dark:text-gray-200 text-sm">
                                    567
                                </div>
                            </div>
                          
                            <button class="w-8 text-right flex justify-end ">
                                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
            
                </ul>
            </div>

            <!-- buttons start -->
            <div>

                
<button type="button" class="py-2 px-4 flex justify-center items-center  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg my-1">
 
    <!-- <img src="/assets/icon/camion.png" alt="" class="w-6 mr-2"> -->
    <fa-icon [icon]="faTruck" class="mr-2"  ></fa-icon>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M368 0C394.5 0 416 21.49 416 48V96H466.7C483.7 96 499.1 102.7 512 114.7L589.3 192C601.3 204 608 220.3 608 237.3V352C625.7 352 640 366.3 640 384C640 401.7 625.7 416 608 416H576C576 469 533 512 480 512C426.1 512 384 469 384 416H256C256 469 213 512 160 512C106.1 512 64 469 64 416H48C21.49 416 0 394.5 0 368V48C0 21.49 21.49 0 48 0H368zM416 160V256H544V237.3L466.7 160H416zM160 368C133.5 368 112 389.5 112 416C112 442.5 133.5 464 160 464C186.5 464 208 442.5 208 416C208 389.5 186.5 368 160 368zM480 464C506.5 464 528 442.5 528 416C528 389.5 506.5 368 480 368C453.5 368 432 389.5 432 416C432 442.5 453.5 464 480 464z"/></svg>
    Distribucion
</button>

                
            </div>

            <!-- buttons end -->
        </div>
        
    </div>
<div>



