
<div [ngClass]="'z-60 absolute w-full flex justify-center inset-0 '" >
    <!--  <div  class="w-full h-fullz-0 absolute inset-0" ></div> -->
     <div class="mx-auto container">
         <div class="flex items-center justify-center h-full w-full ">




  

   <!--  button exit home -->
<!--    <div class="cursor-pointer absolute top-0 right-0 m-3 text-gray-800 dark:text-gray-100 transition duration-150 ease-in-out">
    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
    </svg>
</div> -->
 <!--  button exit end -->


 <app-search-products *ngIf></app-search-products>
    </div>
</div>
</div>