<div class="flex justify-center items-center">
  <div
    class="py-16 px-4 md:px-6 2xl:px-0 flex justify-center items-center w-full "
  >
    <div
      class="flex flex-col justify-start items-start w-10/12 space-y-9 "
    >
      <div class="flex justify-start flex-col items-start space-y-2">
        <button
          class="flex flex-row items-center text-gray-600 hover:text-gray-500 space-x-1"
          (click)="volver()"
        >
          <svg
            class="fill-stroke"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.91681 7H11.0835"
              stroke="currentColor"
              stroke-width="0.666667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.91681 7L5.25014 9.33333"
              stroke="currentColor"
              stroke-width="0.666667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.91681 7.00002L5.25014 4.66669"
              stroke="currentColor"
              stroke-width="0.666667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-sm leading-none">Volver</p>
        </button>
        <p
          class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800"
        >
          Detalles de pago
        </p>
      </div>

      <div
        class="flex flex-col xl:flex-row md:flex-row justify-center xl:justify-between space-y-6 xl:space-y-0 xl:space-x-6 w-full "
      >
        <div class="flex flex-col bg-gray-50 lg:w-8/12 md:w-full p-6 md:p-14 border ">
          <div class="flex flex-row justify-center items-center mt-6">
            <hr class="border w-full" />
            <p
              class="flex flex-shrink-0 px-4 text-base leading-4 text-gray-600"
            >
              Detalles de pago
            </p>
            <hr class="border w-full" />
          </div>

          <form
            action=""
            [formGroup]="FormPagos"
            (ngSubmit)="enviarForm(FormPagos.value)"
          >
            <div class="mt-8">
              <input
                formControlName="metodo_de_pago"
                class="border border-gray-300 p-4 rounded w-full text-base leading-4 placeholder-gray-600 text-gray-600"
                type="email"
                name=""
                id=""
                placeholder="Metodo de pago"
              />

              <!--  tipo de factura a o b -->
              <div class="flex flex-row gap-4 pt-4">
                <div class="relative w-6/12">
                  <div class="mb-3">
                    <select
                      formControlName="factura"
                      class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      aria-label="Default select example"
                    >
                      <option selected value="">Tipo de factura</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                    </select>
                  </div>
                </div>

                <!--  armado por -->
                <div class="relative w-6/12">
                  <div class="mb-3">
                    <select
                      formControlName="armado"
                      class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      aria-label="Default select example"
                    >
                      <option selected value="">Armado por ...</option>
                      <option *ngFor="let locales of arrayLocale" [value]="locales.id" >{{locales.nombre}}</option>
     
                    </select>
                  </div>
                </div>
              </div>

              <div class="pt-4">
                <!--  si lo pago o no -->
                <div class="relative">
                  <div class="mb-3">
                    <select
                      formControlName="pagado"
                      class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      aria-label="Default select example"
                    >
                      <option selected value="">
                        ¿El pago ya fue acreditado?
                      </option>
                      <option value="true">Si</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <label class="mt-8 text-base leading-4 text-gray-800"
              >Detalles de envio</label
            >
            <p class="text-xs leading-3 text-gray-600 pt-2">
              * Solo rellena estos datos si la compra es con envio
            </p>

            <div class="mt-2 flex-col">
              <div class="flex-row flex">
                <input
                  formControlName="transporte"
                  class="border rounded-bl border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600"
                  type="text"
                  name=""
                  id=""
                  placeholder="Metodo de envio (Transporte)"
                />
                <!--             <input formControlName="fecha_de_envio" class="border rounded-br border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="date" name="" id="" placeholder="Fecha de envio" />
 -->
              </div>
            </div>

            <label class="mt-8 text-base leading-4 text-gray-800"
              >Fecha de envio del producto</label
            >
            <div class="mt-2 flex-col">
              <div>
                <input
                formControlName="fecha_de_envio"
                  class="border rounded border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600"
                  type="date"
                  name=""
                  id=""
                  placeholder="Fecha de envio del producto"
                />
              </div>
            </div>

            <button
              class="mt-8 border border-transparent hover:border-gray-300 bg-gray-900 hover:bg-white text-white hover:text-gray-900 flex justify-center items-center py-4 rounded w-full"
            >
              <div>
                <svg *ngIf="cargaDeBoton" width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
                  </path>
              </svg>
                <p  class="text-base leading-4">Finalizar</p>
              </div>
            </button>
          </form>
        </div>
        <div class="p-8 bg-gray-100 flex flex-col lg:w-4/12 ">
          <div>
            <h1 class="text-2xl font-semibold leading-6 text-gray-800">
              Orden
            </h1>
          </div>
          <div class="flex mt-7 flex-col items-end w-full space-y-6">
            <div class="flex justify-between w-full items-center">
              <p class="text-lg leading-4 text-gray-600">Total productos</p>
              <p class="text-lg font-semibold leading-4 text-gray-600">${{totalDeProducto}}</p>
            </div>
            <div class="flex justify-between w-full items-center">
              <p class="text-lg leading-4 text-gray-600">Descuento</p>
              <p class="text-lg font-semibold leading-4 text-gray-600">
                ${{ descuentoTotal }}
              </p>
            </div>
          </div>
          <div class="flex justify-between w-full items-center mt-32">
            <p class="text-xl font-semibold leading-4 text-gray-800">
              Total
            </p>
            <p class="text-lg font-semibold leading-4 text-gray-800">${{totalSUMA(descuentoTotal, totalDeProducto)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
