<div [ngClass]="'z-60 absolute flex justify-center items-center inset-0 '">
  <!--  <div  class="w-full h-fullz-0 absolute inset-0" ></div> -->
  <div class="container">
    <div class="flex items-center justify-center">
      <div class="bg-white rounded-md shadow">
        <!-- content start -->

        
        <div class="grid m-7 gap-4">
            <div class="flex justify-between">
                <h3 class="text-gray-600 text-lg font-medium">Editar</h3>
                <button  (click)="cerrarVentana.emit(false)" role="button" aria-label="close label"  class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none">
                    <svg width="25" height="25" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 7L7 21" stroke="#A1A1AA" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M7 7L21 21" stroke="#A1A1AA" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
          <select

            class="block w-52 py-2 px-3 border border-gray-300 font-normal text-gray-700 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
           #opciones
            (change)="valueEdit($event.target)"
          >
            <option value="" class="">Opciones:</option>
            <option value="cliente">Cliente</option>
            <option value="direccion" >Direccion</option>
          </select>
          <!-- 
    <p class="font-light text-gray-600 text-xs text-center">
        *Lo cambios se aplicaran a todos los <br> productos seleccionados con el mismo codigo
    </p> -->

          <hr />

          <div *ngIf="opciones.value =='cliente' ? true :false">
            <select
            #editCliente
            class="block w-52 py-2 px-3 border border-gray-300 font-normal text-gray-700 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
           
            (change)="valueEdit($event.target)"
          >
            <option value="" class="">Opciones cliente:</option>
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="dni_cuil">DNI o CUIL</option>
            <option value="email">Email</option>
            <option value="telefono">Telefono</option>
          </select>

          <div class="grid gap-5" *ngIf="editCliente.value == '' ? false: true">
            <label class="font-semibold text-gray-700">Editar:</label>
            <!--         <textarea class="resize-y rounded-md"></textarea> -->

            <div class="relative z-0 mb-6 w-full group">
              <input
                type="text"
                [name]="editCliente.value"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required
                #editClienteInput
              />
              <label
                for="floating_email"
                class="absolute text-sm text-gray-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >{{ editCliente.value | uppercase }}</label
              >
            </div>
            <button
            (click)="editarCliente(editCliente.value, editClienteInput)"
              class="px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-[#4F46E5] rounded-md hover:bg-[#473fd1] focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
            >
              Cambiar
            </button>
          </div>
          </div>

          <div *ngIf="opciones.value =='direccion' ? true :false"> 
            <select

            class="block w-52 py-2 px-3 border border-gray-300 font-normal text-gray-700 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
           
            (change)="valueEdit($event.target)"
            #editDireccion
          >
            <option value="" class="">Opciones direccion:</option>
            <option value="direccion">Direccion</option>
            <option value="cp">Codigo postal</option>
            <option value="localidad">Localidad</option>
            <option value="provincia">Provincia</option>

          </select>
          <div class="grid gap-5" *ngIf="editDireccion.value == '' ? false: true">
            <label class="font-semibold text-gray-700"> Editar:</label>
            <!--         <textarea class="resize-y rounded-md"></textarea> -->

            <div class="relative z-0 mb-6 w-full group">
              <input
                type="text"
                [name]="editDireccion.value"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                #editDireccionInput
                required
              />
              <label
                for="floating_email"
                class="absolute text-sm text-gray-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >{{ editDireccion.value | uppercase }}</label
              >
            </div>
            <button
            (click)="editarDireccion(editDireccion.value,editDireccionInput )"
              class="px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-[#4F46E5] rounded-md hover:bg-[#473fd1] focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
            >
              Cambiar
            </button>
          </div>
          </div>

          <!-- nota -->

        
        </div>

        <!-- content end -->
      </div>
    </div>
  </div>
</div>
