<div class="flex items-center h-screen z-50  ">
  <div
    class="px-6 py-4 rounded-md text-lg flex items-center justify-center w-full  "
  >

  <div class="bg-white p-8 rounded-md ">

    <div class="py-4 text-2xl text-gray-600 font-medium">
      <h3>Panel de usuarios</h3>
    </div>

  <hr>
  <br>

    <div class="flex flex-row gap-7 ">


      <div class="flex items-center">
          <div class="bg-white border border-gray-300 rounded-md hover:shadow-lg cursor-pointer p-5" (click)="servicio.abrirCerrarVentanCrearUsuario = !servicio.abrirCerrarVentanCrearUsuario">
            <p class="capitalize">crear nuevo usuario</p>

          </div>
      </div>

      <!--  todos usuarios, editar  -->
      <div>
        <div
          class="container flex flex-col mx-auto w-full items-center justify-center"
        >
          <div
            class="px-4 py-5 sm:px-6 w-full border dark:bg-gray-800 bg-white shadow mb-2 rounded-md"
          >
            <h3
              class="text-lg leading-6 font-medium text-gray-900 dark:text-white"
            >
              Todos los usuarios
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-gray-200">
              Detalles
            </p>
          </div>
          <ul class="flex flex-col">
            <li class="border-gray-400 flex flex-row mb-2" *ngFor="let user of arrayUsuarios">
              <div
              
                class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4"
              >
            <!--     <div
                  class="flex flex-col w-10 h-10 justify-center items-center mr-4"
                >
                  <a href="#" class="block relative">
                    <img
                      alt="profil"
                      src="/images/person/6.jpg"
                      class="mx-auto object-cover rounded-full h-10 w-10"
                    />
                  </a>
                </div> -->
                <div class="flex-1 pl-1 md:mr-16" >
                  <div class="font-medium dark:text-white">{{user.nombre}}</div>
                  <div class="text-gray-600 dark:text-gray-200 text-sm">
                    {{user.usuario}}
                  </div>
                </div>
                <div class="text-gray-600 dark:text-gray-200 text-xs capitalize ">
                  <div>
                    
                    <p>{{user.roles}}</p>
                    <p>{{user.local == null ? '' : user.local.nombre}}</p>
                  </div>
                </div>
                <button class="w-24 text-right flex justify-end" 
                (click)="modificarUsuario(user.id)"
                (click)="servicio.abrirCerrarVentanModificarUsuario = !servicio.abrirCerrarVentanModificarUsuario"

                >

                  <svg
                    width="20"
                    fill="currentColor"
                    height="20"
                    class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500"
                    viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
                    ></path>
                  </svg>
                </button>
              </div>
            </li>
     
          </ul>
        </div>
      </div>

      <!-- todos usuarios, editar end -->
    </div>

  </div>
  </div>
</div>


<app-crear-usuario
*ngIf="servicio.abrirCerrarVentanCrearUsuario"
></app-crear-usuario>

<app-editar-usuario
*ngIf="servicio.abrirCerrarVentanModificarUsuario"
[arrayInfoUsuario]="arrayUsuariosMandar"
></app-editar-usuario>


<app-new-edit-usuario 
*ngIf=""
>
  
</app-new-edit-usuario>