<div
  class="px-5 bg-white py-1 flex flex-col xs:flex-row items-center xs:justify-between"
>
  <nav aria-label="Page navigation example">
    <ul
      class="inline-flex items-center -space-x-px overflow-x-auto"
      #categoryScrollX
      style="max-width: 330px"
    >
      <li class="sticky top-0 left-0 w-full flex justify-start cursor-pointer">
        <a
          (click)="cambioDePaginaNext(false)"
          class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>

      <div class="flex items-center" *ngFor="let i of items">
        <li>
          <a
            id="{{ i }}"
            (click)="cambioDePagina($event)"
            [ngClass]="
              ' cursor-pointer py-2 px-3 leading-tight text-gray-500' +
              (i == estadoDePagina
                ? 'z-10 text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700'
                : 'bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
            "
            >{{ i + 1 }}</a
          >
        </li>
      </div>

      <li class="sticky top-0 right-0 w-full flex justify-end cursor-pointer">
        <a
          (click)="cambioDePaginaNext(true)"
          class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
