<div class="grid  lg:p-12 md:p-3">
  <!-- search -->
  <div class="w-full my-5 md:w-2/3 shadow p-5 rounded-lg bg-white h-6/6">
    <div class="relative">
      <div class="absolute flex items-center ml-2 h-full">
        <svg
          class="w-4 h-4 fill-current text-primary-gray-dark"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.8898 15.0493L11.8588 11.0182C11.7869 10.9463 11.6932 10.9088 11.5932 10.9088H11.2713C12.3431 9.74952 12.9994 8.20272 12.9994 6.49968C12.9994 2.90923 10.0901 0 6.49968 0C2.90923 0 0 2.90923 0 6.49968C0 10.0901 2.90923 12.9994 6.49968 12.9994C8.20272 12.9994 9.74952 12.3431 10.9088 11.2744V11.5932C10.9088 11.6932 10.9495 11.7869 11.0182 11.8588L15.0493 15.8898C15.1961 16.0367 15.4336 16.0367 15.5805 15.8898L15.8898 15.5805C16.0367 15.4336 16.0367 15.1961 15.8898 15.0493ZM6.49968 11.9994C3.45921 11.9994 0.999951 9.54016 0.999951 6.49968C0.999951 3.45921 3.45921 0.999951 6.49968 0.999951C9.54016 0.999951 11.9994 3.45921 11.9994 6.49968C11.9994 9.54016 9.54016 11.9994 6.49968 11.9994Z"
          ></path>
        </svg>
      </div>

      <input
        type="text"
        placeholder="Buscar por modelo o codigo..."
        class="px-8 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm"
      />
    </div>
    <!-- #box (keyup.enter)="onKey(box.value)" -->
    <div class="flex items-center mt-4">
      <div>
        <div
          class="border py-1 px-3 rounded-md hover:shadow cursor-pointer"
          (click)="filtroPorOpciones = !filtroPorOpciones"
          (click)="filtroPorFechas == true ? (filtroPorFechas = false) : ''"
        >
          Filtro
        </div>
        <div
          class="absolute bg-white shadow p-5 z-50 flex flex-col"
          *ngIf="filtroPorOpciones"
        >
          <label class="inline-flex items-center mt-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-gray-600"
              value="modelo"
            /><span class="ml-2 text-gray-700">Modelo</span>
          </label>
          <label class="inline-flex items-center mt-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-gray-600"
              value="modelo"
            /><span class="ml-2 text-gray-700">Dibujo</span>
          </label>
        </div>
      </div>

      <div *ngIf="">
        <div
          class="border py-1 px-3 rounded-md hover:shadow cursor-pointer"
          (click)="filtroPorFechas = !filtroPorFechas"
          (click)="
            filtroPorOpciones == true ? (filtroPorOpciones = false) : ''
          "
        >
          Fechas
        </div>
        <div
          class="absolute z-50 bg-white p-4 shadow"
          *ngIf="filtroPorFechas"
        >
          <div class="relative">
            <label for="name-with-label" class="text-gray-700">
              Fecha de...
            </label>
            <input
              #fecha1
              type="date"
              id="name-with-label"
              class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              name="email"
              placeholder="Your name"
            />
          </div>

          <div class="relative">
            <label for="name-with-label" class="text-gray-700">
              Fecha hasta...
            </label>
            <input
              #fecha2
              type="date"
              id="name-with-label"
              class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              name="email"
              placeholder="Your name"
            />
          </div>

          <div>
            <p class="text-gray-600 text-sm">
              *Si solo quiere un fecha exacta, <br />
              Unicamente seleccione la "Fecha de ..."
            </p>
          </div>

          <div>
            <button
              type="button"
              (click)="funcFiltroDeFechas(fecha1.value, fecha2.value)"
              class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- search end -->
  
  <div
    class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10 overflow-auto h-full w-full rounded-md shadow"
  >
    <!--  lg:h-[100vh] lg:w-full -->
  
  
    <div class="sm:flex items-center justify-between" *ngIf="">
      <div class="flex items-center w-[400px]" #categoryChangeDiv>
        <div
          class="flex justify-start cursor-pointer"
          (click)="moveCategory('left', 150)"
        >
          <i style="font-size: 24px; color: #757d88" class="fas"> &#xf104;</i>
        </div>

        <div
          class="flex items-center w-[400px] overflow-hidden"
          #categoryScrollX
        >
          <a
            href="javascript:void(0)"
            (click)="changeCategory(i)"
            *ngFor="let i of categoryChange"
          >
            <div
              [class]="
                i === valueHomeCategory
                  ? 'py-2 px-8 bg-indigo-100 text-indigo-700 rounded-full'
                  : 'py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full'
              "
            >
              <p>{{ i | titlecase }}</p>
            </div>
          </a>
        </div>

        <div
          class="flex justify-end cursor-pointer"
          (click)="moveCategory('right', 150)"
        >
          <i style="font-size: 24px; color: #757d88" class="fas">&#xf105;</i>
        </div>
      </div>

      <div
        class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded"
      >
        <p>Orden por local:</p>
        <select class="focus:outline-none bg-transparent ml-1 w-20">
          <option class="text-sm text-indigo-800">Todos</option>
          <!--     <option class="text-sm text-indigo-800">Oldest</option>
              <option class="text-sm text-indigo-800">Latest</option> -->
        </select>
      </div>
    </div>

    <!--        <div class="mt-7 overflow-x-auto sm:w-full">
          <table class="w-full whitespace-nowrap">
            <thead>
              <tr>
                <th class=""></th>
                <th class="">Cantidad</th>
                <th class="pl-24">Precio</th>
                <th class="">Total</th>
                <th class="">Acciones</th>
                <th class="">Acciones</th>
                <th class="">Acciones</th>
                <th class="pl-5"></th>
                
              </tr>
              
            </thead>
          </table>
        </div> -->

    <div
      class="mt-7 overflow-x-auto sm:w-full"
      *ngFor="let data of dataArrayProducto"
    >
      <table class="w-full whitespace-nowrap">
        <tbody class="relative z-10 bg-white">
          <tr class="h-16 border border-gray-100 rounded">
            <td>
              <div class="ml-5">
                <div
                  class="rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative"
                  (click)="viewSubTable(data.id)"
                >
                  <svg
                    width="24"
                    height="24"
                    stroke-width="2.5"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    style="cursor: pointer"
                  >
                    <path
                      d="M6 9L12 15L18 9"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>

                  <!-- <input type="checkbox" class="checkbox opacity-0 absolute cursor-pointer w-full h-full" /> -->
                  <!--     <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                                            <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <path d="M5 12l5 5l10 -10"></path>
                                            </svg>
                          </div> -->
                </div>
              </div>
            </td>
            <td class="">
              <div class="flex items-center pl-5">
                <p
                  class="text-base font-medium leading-none text-gray-700 mr-2"
                >
                  Cod: {{ data.codigo }}
                </p>
                <!--    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <path
                        d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                        stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path
                        d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                        stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> -->
              </div>
            </td>
            <td class="">
              <div class="flex items-center pl-5">
                <p
                  class="text-base font-medium leading-none text-gray-700 mr-2"
                >
                  {{ data.modelo }}
                </p>
                <!--    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <path
                        d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                        stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path
                        d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                        stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> -->
              </div>
            </td>
            <td class="pl-12">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M9.16667 2.5L16.6667 10C17.0911 10.4745 17.0911 11.1922 16.6667 11.6667L11.6667 16.6667C11.1922 17.0911 10.4745 17.0911 10 16.6667L2.5 9.16667V5.83333C2.5 3.99238 3.99238 2.5 5.83333 2.5H9.16667"
                    stroke="#52525B"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <circle
                    cx="7.50004"
                    cy="7.49967"
                    r="1.66667"
                    stroke="#52525B"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></circle>
                </svg>
                <p class="text-sm leading-none text-gray-600 ml-2">
                  {{
                    data.estampado == null ?  "- -" : data.estampado.dibujo 
                  }}
                </p>
              </div>
            </td>
            <td class="pl-5">
              <div class="flex items-center text-sm leading-none text-gray-600 ml-2">
                
                Total: 
                <p class="text-sm leading-none text-gray-600 ml-2">
                  {{
                    servicioProduccion.funcConteoTotalDeCantidadDistribucion(
                      data.distribucion
                    )
                  }}
                </p>
              </div>
            </td>
            <td class="pl-5">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M3.33331 17.4998V6.6665C3.33331 6.00346 3.59671 5.36758 4.06555 4.89874C4.53439 4.4299 5.17027 4.1665 5.83331 4.1665H14.1666C14.8297 4.1665 15.4656 4.4299 15.9344 4.89874C16.4033 5.36758 16.6666 6.00346 16.6666 6.6665V11.6665C16.6666 12.3295 16.4033 12.9654 15.9344 13.4343C15.4656 13.9031 14.8297 14.1665 14.1666 14.1665H6.66665L3.33331 17.4998Z"
                    stroke="#52525B"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M10 9.1665V9.17484"
                    stroke="#52525B"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M6.66669 9.1665V9.17484"
                    stroke="#52525B"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M13.3333 9.1665V9.17484"
                    stroke="#52525B"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <p class="text-sm leading-none text-gray-600 ml-2">{{eliminarArmadoresRepetidos(data.distribucion)}}</p>
              </div>
            </td>
            <!--      <td class="pl-5">
                  <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path
                        d="M12.5 5.83339L7.08333 11.2501C6.75181 11.5816 6.56556 12.0312 6.56556 12.5001C6.56556 12.9689 6.75181 13.4185 7.08333 13.7501C7.41485 14.0816 7.86449 14.2678 8.33333 14.2678C8.80217 14.2678 9.25181 14.0816 9.58333 13.7501L15 8.33339C15.663 7.67034 16.0355 6.77107 16.0355 5.83339C16.0355 4.8957 15.663 3.99643 15 3.33339C14.337 2.67034 13.4377 2.29785 12.5 2.29785C11.5623 2.29785 10.663 2.67034 10 3.33339L4.58333 8.75005C3.58877 9.74461 3.03003 11.0935 3.03003 12.5001C3.03003 13.9066 3.58877 15.2555 4.58333 16.2501C5.57789 17.2446 6.92681 17.8034 8.33333 17.8034C9.73985 17.8034 11.0888 17.2446 12.0833 16.2501L17.5 10.8334"
                        stroke="#52525B" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                  </div>
                </td> -->
            <td class="pl-5">
              <button
                class="py-2 px-3 text-sm focus:outline-none leading-none text-gray-600 bg-green-300 hover:bg-green-200 rounded flex flex-row items-center gap-[5px]"
              >
                <svg
                  width="20"
                  height="20"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512 "
                >
                  <path
                    fill="#52525B"
                    stroke="red"
                    d="M112 0C85.49 0 64 21.49 64 48V96H16C7.163 96 0 103.2 0 112C0 120.8 7.163 128 16 128H272C280.8 128 288 135.2 288 144C288 152.8 280.8 160 272 160H48C39.16 160 32 167.2 32 176C32 184.8 39.16 192 48 192H240C248.8 192 256 199.2 256 208C256 216.8 248.8 224 240 224H16C7.163 224 0 231.2 0 240C0 248.8 7.163 256 16 256H208C216.8 256 224 263.2 224 272C224 280.8 216.8 288 208 288H64V416C64 469 106.1 512 160 512C213 512 256 469 256 416H384C384 469 426.1 512 480 512C533 512 576 469 576 416H608C625.7 416 640 401.7 640 384C640 366.3 625.7 352 608 352V237.3C608 220.3 601.3 204 589.3 192L512 114.7C499.1 102.7 483.7 96 466.7 96H416V48C416 21.49 394.5 0 368 0H112zM544 237.3V256H416V160H466.7L544 237.3zM160 464C133.5 464 112 442.5 112 416C112 389.5 133.5 368 160 368C186.5 368 208 389.5 208 416C208 442.5 186.5 464 160 464zM528 416C528 442.5 506.5 464 480 464C453.5 464 432 442.5 432 416C432 389.5 453.5 368 480 368C506.5 368 528 389.5 528 416z"
                  />
                </svg>

                <label class="text-gray-800">
                  Enviado
                  <p class="text-sm leading-none text-gray-600">{{servicioProduccion.fechaARG(data.fecha_de_envio_ventas)}}</p>
                </label>

                <!-- Enviado -->
              </button>
            </td>
            <td class="pl-4" *ngIf>
              <button
                class="text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
              >
                View
              </button>
            </td>

            <td *ngIf>
              <div class="relative px-5 pt-2">
                <button
                  class="focus:outline-none"
                  (click)="
                    dropDownList === 1 ? (dropDownList = 0) : (dropDownList = 1)
                  "
                >
                  <svg
                    class="dropbtn"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <path
                      d="M4.16667 10.8332C4.62691 10.8332 5 10.4601 5 9.99984C5 9.5396 4.62691 9.1665 4.16667 9.1665C3.70643 9.1665 3.33334 9.5396 3.33334 9.99984C3.33334 10.4601 3.70643 10.8332 4.16667 10.8332Z"
                      stroke="#9CA3AF"
                      stroke-width="1.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M10 10.8332C10.4602 10.8332 10.8333 10.4601 10.8333 9.99984C10.8333 9.5396 10.4602 9.1665 10 9.1665C9.53976 9.1665 9.16666 9.5396 9.16666 9.99984C9.16666 10.4601 9.53976 10.8332 10 10.8332Z"
                      stroke="#9CA3AF"
                      stroke-width="1.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M15.8333 10.8332C16.2936 10.8332 16.6667 10.4601 16.6667 9.99984C16.6667 9.5396 16.2936 9.1665 15.8333 9.1665C15.3731 9.1665 15 9.5396 15 9.99984C15 10.4601 15.3731 10.8332 15.8333 10.8332Z"
                      stroke="#9CA3AF"
                      stroke-width="1.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>

                <div
                  *ngIf="dropDownList === 1"
                  class="bg-white shadow w-24 absolute right-0 mr-6"
                >
                  <div
                    class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                  >
                    <p>Editar</p>
                  </div>
                  <div
                    class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                  >
                    <p>Eliminar</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <app-sub-table-distribution
        [isSubTable]="dataArraysSub[data.id]"
        [subTablaArray]="data"
      ></app-sub-table-distribution>

      <!-- segundo producto -->
    </div>

    <div class=" px-5 bg-white py-1 flex flex-col xs:flex-row items-center xs:justify-between">
      <nav aria-label="Page navigation example">
          <ul class="inline-flex items-center -space-x-px  overflow-x-auto " #categoryScrollX
          style="max-width:330px"
          >

            <li class="sticky top-0 left-0 w-full flex justify-start">
              <a (click)="cambioDePaginaNext(false)"  class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">Previous</span>
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
              </a>
            </li>

            <div class="flex items-center " *ngFor="let i of items">

              <li >
                  <a id="{{i}}" 
                  (click)="cambioDePagina($event)"
                  [ngClass]="' cursor-pointer py-2 px-3 leading-tight text-gray-500' + ( i == estadoDePagina ? 'z-10 text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700' :  'bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')"
                   >{{i + 1}}</a>
              </li>

          </div>


            <li class="sticky top-0 right-0 w-full flex justify-end">

              <a (click)="cambioDePaginaNext(true)" class=" block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">Next</span>
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
            </li>
          </ul>
        </nav>
      


  </div>
    
  </div>

  <style>
    .checkbox:checked + .check-icon {
      display: flex;
    }
  </style>
</div>
