
<!-- pruebas -->

<div class="w-full h-screen flex justify-center items-center">
  <div class="flex lg:flex-row md:flex-col sm:flex-col w-full">
    <div class="w-full flex justify-center flex-col items-center">
      <h3 class="text-gray-600 text-lg font-medium underline py-3">
        Comprobante para cliente
      </h3>
      <div class="max-w-lg w-full">
        <div class="bg-white rounded-md relative">
          <div
            onclick="modalHandler(false)"
            class="absolute inset-0 m-auto w-5 h-5 mr-4 mt-4 cursor-pointer"
          ></div>

          <!-- empieza el pdf -->
          <div class="" id="pruebaHtml">
            <div
              class="bg-gray-100 rounded-tl-md rounded-tr-md md:px-10 px-5 pt-9 pb-2.5"
            >
              <div class="sm:flex justify-between">
                <div>
                  <img
                    class="w-32"
                    src="/assets/icon/logo.png"
                    alt=""
                    srcset=""
                  />
                  <p class="text-lg font-bold text-gray-500 mt-2">Milena</p>
                  <div class="mt-2">
                    <p class="text-xs leading-5 text-gray-500 uppercase mt-1">
                      Bogota 3481 - BS. AS<br />CEL: +549 116253-6201<br />11-5180-4160(Stefy)<br />11-5693-0533(Silvia)
                    </p>
                  </div>
                </div>
                <div
                  class="mt-4 sm:mt-0 sm:flex flex-col sm:items-end sm:text-right"
                >
                  <p class="px-5 text-xs leading-3 text-red-500">Pendiente</p>

                  <p class="text-xs leading-5 text-light-blue mt-3">
                    {{ dataDeOrden.cliente.nombre }}
                    {{
                      dataDeOrden.cliente.apellido == null
                        ? ""
                        : dataDeOrden.cliente.apellido
                    }}
                    <br />
                    <span class="text-gray-500"
                      >
                      {{ dataDeOrden.cliente_direccion == null ? '' : dataDeOrden.cliente_direccion.direccion }} <br />{{
                        
                        dataDeOrden.cliente_direccion == null ? '' : dataDeOrden.cliente_direccion.localidad

                      }}, {{ dataDeOrden.cliente_direccion == null ? '' : 'CP : ' + dataDeOrden.cliente_direccion.cp }}<br />{{
                        dataDeOrden.cliente_direccion == null ? '' : dataDeOrden.cliente_direccion.provincia
                      }}
                      </span
                    >
                  </p>
                  <div class="mt-3">
                    <div class="flex space-x-1 items-center text-xs leading-3">
                      <p class="text-blue-500">@</p>
                      <p class="text-gray-500">
                        {{ dataDeOrden.cliente.email }}
                      </p>
                    </div>
                    <div
                      class="flex space-x-1 items-center sm:justify-end text-xs leading-3 mt-2"
                    >
                      <p class="text-blue-500">Cel:</p>
                      <p class="text-gray-500">
                        {{ dataDeOrden.cliente.telefono }}
                      </p>
                    </div>
                  </div>
                  <div class="mt-6 text-xs leading-3 sm:text-right">
                    <p class="text-gray-800 uppercase">
                      {{ dataDeOrden.ordenEstado[0].transporte }}
                    </p>
                    <p class="text-gray-500 mt-1">#{{ dataDeOrden.id }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-3.5 pb-4 px-10">
              <div class="w-full overflow-x-auto">
                <table class="w-full">
                  <thead
                    class="text-xs leading-none text-gray-500 border-b border-gray-200 text-left"
                  >
                    <tr>
                      <th class="pb-2">Modelo & Diseño</th>
                      <th class="pb-2 text-center">Cantidad</th>
                      <th class="pb-2 text-center">Precio UD</th>
                      <th class="pb-2 text-right">Total</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let data of nuevoArrayConPro">
                    <tr
                      class="text-xs leading-3 text-gray-800 text-left border-gray-200"
                    >
                      <td class="py-1 w-1/2">
                        {{ data.modelo }} - {{ data.dibujo }}
                      </td>
                      <td class="py-1 text-center">
                        {{ cantidad(data.talles) }}
                      </td>
                      <td class="py-1 text-center">${{ data.precio }}</td>
                      <td class="py-1 text-right">
                        ${{ cantidadTotalProducto(data) }}
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="text-xs leading-3 text-gray-800 text-left">
                      <td class="py-2 w-1/2"></td>
                      <td class="py-2 border-b border-gray-200">Total</td>
                      <td class="border-b border-gray-200 py-4"></td>
                      <td class="border-b border-gray-200 py-4 text-right">
                        ${{ cantidadTotal() }}
                      </td>
                    </tr>
                    <tr
                      class="text-xs leading-3 text-gray-800 text-left"
                      *ngFor="let des of dataDeOrden.descuento"
                    >
                      <td class="py-2 w-1/2"></td>
                      <td class="py-2 border-b border-gray-200">Descuento</td>
                      <td class="border-b border-gray-200 py-4"></td>
                      <td class="border-b border-gray-200 py-4 text-right">
                        ${{ des.precio }}
                      </td>
                    </tr>
                    <tr class="text-xs leading-3 text-gray-800 text-left">
                      <td class="py-4 w-1/2"></td>
                      <td class="py-4 font-bold">TOTAL</td>
                      <td class="py-4"></td>
                      <td class="text-indigo-400 py-4 text-right">
                        ${{ cantidadTotalConDescuento() }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="flex flex-row"
                *ngFor="let des of dataDeOrden.descuento"
              >
                <p class="text-xs font-extralight leading-4 text-gray-800">
                  Descuendo: ${{ des.precio }} - {{ des.motivo }}
                </p>
              </div>
            </div>
          </div>
          <!-- final del pdf -->

          <div class="pb-2 px-4">
            <div class="flex items-center justify-between mt-8">
              <button
                onclick="modalHandler(false)"
                class="px-6 py-3 bg-gray-400 hover:bg-gray-500 shadow rounded text-sm text-white"
              >
                Salir
              </button>

              <button
                (click)="pdf('pruebaHtml')"
                class="px-6 py-3 bg-indigo-700 hover:bg-opacity-80 shadow rounded text-sm text-white"
              >
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-center flex-col items-center">
      <h3 class="text-gray-600 text-lg font-medium underline py-3">
        Comprobante para el Armado
      </h3>

      <div class="max-w-lg w-full">
        <div class="bg-white rounded-md relative">
          <div
            onclick="modalHandler(false)"
            class="absolute inset-0 m-auto w-5 h-5 mr-4 mt-4 cursor-pointer"
          ></div>

          <!-- empieza el pdf -->
          <div class="" id="pruebaHtml2">
            <div
              class="bg-gray-100 rounded-tl-md rounded-tr-md md:px-10 px-5 pt-9 pb-2.5"
            >
              <div class="sm:flex justify-between">
                <div>
                  <img
                    class="w-32"
                    src="/assets/icon/logo.png"
                    alt=""
                    srcset=""
                  />
                  <p class="text-lg font-bold text-gray-500 mt-2">Milena</p>
                  <div class="mt-2">
                    <p class="text-xs leading-5 text-gray-500 uppercase mt-1">
                      Bogota 3481 - BS. AS<br />CEL: +549 116253-6201<br />11-5180-4160(Stefy)<br />11-5693-0533(Silvia)
                    </p>
                  </div>
                </div>
                <div
                  class="mt-4 sm:mt-0 sm:flex flex-col sm:items-end sm:text-right"
                >
                  <p class="px-5 text-xs leading-3 text-red-500">Pendiente</p>

                  <p class="text-xs leading-5 text-light-blue mt-3">
                    {{ dataDeOrden.cliente.nombre }}
                    {{
                      dataDeOrden.cliente.apellido == null
                        ? ""
                        : dataDeOrden.cliente.apellido
                    }}
                    <br /><span class="text-gray-500"
                      > {{ dataDeOrden.cliente_direccion == null ? '' : dataDeOrden.cliente_direccion.direccion }} <br />{{
                        
                        dataDeOrden.cliente_direccion == null ? '' : dataDeOrden.cliente_direccion.localidad

                      }}, {{ dataDeOrden.cliente_direccion == null ? '' : 'CP : ' + dataDeOrden.cliente_direccion.cp }}<br />{{
                        dataDeOrden.cliente_direccion == null ? '' : dataDeOrden.cliente_direccion.provincia
                      }}</span
                    >
                  </p>
                  <div class="mt-3">
                    <div class="flex space-x-1 items-center text-xs leading-3">
                      <p class="text-blue-500">@</p>
                      <p class="text-gray-500">
                        {{ dataDeOrden.cliente.email }}
                      </p>
                    </div>
                    <div
                      class="flex space-x-1 items-center sm:justify-end text-xs leading-3 mt-2"
                    >
                      <p class="text-blue-500">Cel:</p>
                      <p class="text-gray-500">
                        {{ dataDeOrden.cliente.telefono }}
                      </p>
                    </div>
                  </div>
                  <div class="mt-6 text-xs leading-3 sm:text-right">
                    <p class="text-gray-800 uppercase">
                      {{ dataDeOrden.ordenEstado[0].transporte }}
                    </p>
                    <p class="text-gray-500 mt-1">#{{ dataDeOrden.id }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-3.5 pb-4 px-10">
              <div class="w-full overflow-x-auto pb-6">
                <table class="w-full">
                  <thead
                    class="text-xs leading-none text-gray-500 border-b border-gray-200 text-left"
                  >
                    <tr>
                      <th class="pb-2">Modelo & Diseño</th>
                      <th class="pb-2">Cantidad</th>
                      <th class="pb-2 text-center">Color</th>
                      <th class="pb-2 text-center">Talle</th>
                      <!-- <th class="pb-2 text-center">Cantidad</th> -->
                    </tr>
                  </thead>
                  <tbody *ngFor="let data of nuevoArrayConPro">
                    <tr
                      class="text-xs leading-3 text-gray-800 text-left border-gray-200"
                    >
                      <td class="py-1">
                        {{ data.modelo }} - {{ data.dibujo }}
                      </td>
                      <td class="py-1 text-center">
                        {{ cantidad(data.talles) }}
                      </td>
                      <td class="py-1 text-center">{{ data.color }}</td>
                      <td class="py-1 text-center">
                        {{ tallesObtener(data.talles) }}
                      </td>
                      <!-- <td class="py-1 text-center">67</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="grid grid-cols-3 border-t gap-2" >
                <p class="text-xs font-extralight leading-4 text-gray-800 py-2" *ngFor="let notas of dataDeOrden.nota">
                  <span class="text-xs text-indigo-500"
                    >COD: ({{notas.producto_ventas.id}})| {{notas.producto_ventas.sub_modelo == null ? notas.producto_ventas.productoDetalles.producto.modelo : notas.producto_ventas.sub_modelo }} {{notas.producto_ventas.sub_dibujo == null ? notas.producto_ventas.productoDetalles.producto.estampado.dibujo : notas.producto_ventas.sub_dibujo }} :</span
                  >
                  {{notas.nota}}
                </p>
              </div>
            </div>
          </div>
          <!-- final del pdf -->

          <div class="pb-2 px-4">
            <div class="flex items-center justify-between mt-8">
              <button
                onclick="modalHandler(false)"
                class="px-6 py-3 bg-gray-400 hover:bg-gray-500 shadow rounded text-sm text-white"
              >
                Salir
              </button>

              <button
                (click)="pdf('pruebaHtml2')"
                class="px-6 py-3 bg-indigo-700 hover:bg-opacity-80 shadow rounded text-sm text-white"
              >
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
