
<div class=" border flex justify-center">
    <div class="py-8 border w-full m-8">
        <div class="flex flex-row mb-1 sm:mb-0 justify-between gap-2">

            <!-- filtro start-->
            <div class="w-full md:w-2/3 shadow p-5 rounded-lg bg-white h-3/6">
                <div class="relative">
                  <div class="absolute flex items-center ml-2 h-full">
                    <svg class="w-4 h-4 fill-current text-primary-gray-dark" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.8898 15.0493L11.8588 11.0182C11.7869 10.9463 11.6932 10.9088 11.5932 10.9088H11.2713C12.3431 9.74952 12.9994 8.20272 12.9994 6.49968C12.9994 2.90923 10.0901 0 6.49968 0C2.90923 0 0 2.90923 0 6.49968C0 10.0901 2.90923 12.9994 6.49968 12.9994C8.20272 12.9994 9.74952 12.3431 10.9088 11.2744V11.5932C10.9088 11.6932 10.9495 11.7869 11.0182 11.8588L15.0493 15.8898C15.1961 16.0367 15.4336 16.0367 15.5805 15.8898L15.8898 15.5805C16.0367 15.4336 16.0367 15.1961 15.8898 15.0493ZM6.49968 11.9994C3.45921 11.9994 0.999951 9.54016 0.999951 6.49968C0.999951 3.45921 3.45921 0.999951 6.49968 0.999951C9.54016 0.999951 11.9994 3.45921 11.9994 6.49968C11.9994 9.54016 9.54016 11.9994 6.49968 11.9994Z"></path>
                    </svg>
                  </div>
              
                  <input type="text" #box (keyup.enter)="onKey(box.value)" placeholder="Buscar por codigo..." class="px-8 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
                    </div>
              
                  <div class="flex items-center justify-between mt-4">
                 <!--    <p class="font-medium">
                      Filters
                    </p> -->
                    <button (click)="valueFilter = !valueFilter" [ngClass]="'px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md '">
                        Filtros
                      </button>
              
                    <!-- <button class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
                      Reset Filter
                    </button> -->
                  </div>
              
                  <div [ngClass]="'absolute bg-white animate__animated animate__slideInDown animate__faster p-4 rounded-md shadow ' + (valueFilter ? 'block' : 'hidden')" >
                    <!-- *ngIf="valueFilter" -->
                    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
                      <select *ngIf class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
                        <option value="">All Type</option>
                        <option value="for-rent">For Rent</option>
                        <option value="for-sale">For Sale</option>
                      </select>
              
                      <select *ngIf class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
                        <option value="">Furnish Type</option>
                        <option value="fully-furnished">Fully Furnished</option>
                        <option value="partially-furnished">Partially Furnished</option>
                        <option value="not-furnished">Not Furnished</option>
                      </select>
                      <div>
                          <div class="border p-3 rounded-md hover:bg-gray-50 cursor-pointer" (click)="listaDeFiltros = !listaDeFiltros">
                              Opciones
                          </div>
                          <div [ngClass]="'absolute flex flex-col border  bg-white p-5 shadow rounded-md ' + (listaDeFiltros ? 'block' : 'hidden') " >
                            <label class="inline-flex items-center mt-3">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="modelo" (change)="seleccionDeCheck($event)"><span class="ml-2 text-gray-700">Modelo</span>
                            </label>
                            <label class="inline-flex items-center mt-3">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="tela" (change)="seleccionDeCheck($event)"><span class="ml-2 text-gray-700">Tela</span>
                            </label>
                            <label class="inline-flex items-center mt-3">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="peso_promedio" (change)="seleccionDeCheck($event)" ><span class="ml-2 text-gray-700">Peso Promedio</span>
                            </label>
                      <!--       <label class="inline-flex items-center mt-3">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="taller" (change)="seleccionDeCheck($event)" ><span class="ml-2 text-gray-700">Taller</span>
                            </label> -->
                            <label class="inline-flex items-center mt-3">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="dibujo" (change)="seleccionDeCheck($event)" ><span class="ml-2 text-gray-700">Dibujo</span>
                            </label>
                            <label class="inline-flex items-center mt-3">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="edad" (change)="seleccionDeCheck($event)"><span class="ml-2 text-gray-700">Edad</span>
                            </label>

                            <div class="talleres">
                                <label class="inline-flex items-center mt-3">
                                  <input
                                    type="checkbox"
                                    class="form-checkbox h-5 w-5 text-gray-600"
                                    value="taller"
                                    (change)=" BoltallerArray = !BoltallerArray"
                                    (change)="resetTallerFiltro($event)"
                                  /><span class="ml-2 text-gray-700">Taller</span>
                                </label>
                  
                                <div class=" flex flex-col justify-start pl-7" *ngFor="let taller of arrayTalleresFiltro">
                  
                                  <label class="inline-flex items-center mt-1" *ngIf="BoltallerArray">
                                    <input
                                      type="checkbox"
                                      class="form-checkbox h-3 w-3 text-gray-600"
                                      [value]="taller.id"
                                      (change)="seleccionTaller($event)"
                                    /><span class="ml-2 text-gray-700">{{taller.nombre_completo}}</span>
                                  </label>


                                
                  
                  
                                </div>
                              </div>
                          </div>

            
                      </div>
              

                    </div>
                  </div>
                </div>
            <!-- filtro end-->

            <!-- <div class="text-end">
                <form class="flex flex-col md:flex-row w-3/4 md:w-full max-w-sm md:space-x-3 space-y-3 md:space-y-0 justify-center">
                    <div class=" relative ">
                        <input type="text" id="&quot;form-subscribe-Filter" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="name"/>
                        </div>
                        <button class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-purple-600 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200" type="submit">
                            Filter
                        </button>
                    </form>
                </div> -->

                <div>
                  
<div class="container flex flex-col mx-auto w-full items-center justify-center bg-white dark:bg-gray-800 rounded-lg shadow">
    <ul class="flex flex-col divide divide-y">
        <li class="flex flex-row">

            <div class="select-none cursor-pointer flex flex-1 items-center p-1">
                <div class="flex flex-col w-10 h-10 justify-center items-center ">
                   <div class=" h-8 w-8 bg bg-gray-200 rounded-full">

                   </div>
                </div>
                <div class="flex-1 pl-1 mr-1">
                    
                    <div class="text-gray-600 dark:text-gray-200 text-xs">
                        Articulo no tiene taller
                    </div>
                </div>
             
            </div>
        </li>

        <li class="flex flex-row">

            <div class="select-none cursor-pointer flex flex-1 items-center p-1">
                <div class="flex flex-col w-10 h-10 justify-center items-center ">
                   <div class=" h-8 w-8 bg bg-red-200 rounded-full">
                      
                   </div>
                </div>
                <div class="flex-1 pl-1 mr-1">
                    
                    <div class="text-gray-600 dark:text-gray-200 text-xs">
                        Articulo ya tiene un taller
                    </div>
                </div>
             
            </div>
        </li>


       

        <li class="flex flex-row">

            <div class="select-none cursor-pointer flex flex-1 items-center p-1">
                <div class="flex flex-col w-10 h-10 justify-center items-center ">
                   <div class=" h-8 w-8 bg bg-yellow-200 rounded-full">
                      
                   </div>
                </div>
                <div class="flex-1 pl-1 mr-1">
                    
                    <div class="text-gray-600 dark:text-gray-200 text-xs">
                        Articulo fue entregado
                    </div>
                </div>
             
            </div>
        </li>


        <li class="flex flex-row">

            <div class="select-none cursor-pointer flex flex-1 items-center p-1">
                <div class="flex flex-col w-10 h-10 justify-center items-center ">
                   <div class=" h-8 w-8 bg bg-green-200 rounded-full">
                      
                   </div>
                </div>
                <div class="flex-1 pl-1 mr-1">
                    
                    <div class="text-gray-600 dark:text-gray-200 text-xs">
                        Articulo fue pagado
                    </div>
                </div>
             
            </div>
        </li>

    </ul>

    
</div>


                </div>
                
            </div>

            <!-- content center modify start -->
            
            <app-view-edit-tools *ngIf="abrirVentana" [dataP]="daataPrueba" [cerrarVentana]="abrirVentana"> </app-view-edit-tools>

            <!-- content center modify end -->


            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto  justify-center">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr >
  <!--                               <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Estado
                                </th> -->
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Codigo
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Modelo
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Dibujo
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Tela
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Peso Promedio
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Taller
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Fecha de salida
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Fecha de entrega
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                    Pago
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-700  text-center text-sm uppercase font-normal">
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let d of arrayProducto">
                            <tr  [ngClass]="d.taller == null ? 'bg bg-gray-200' : (d.fecha_de_entrada == null || d.fecha_de_entrada == '') ? 'bg-red-200' : (d.estado_pago == false || d.estado_pago == 'false' ) ?'bg-yellow-200' :'bg-green-200' ">
                               <!--  class="bg bg-red-300" -->
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                   {{d.codigo}} 
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    
                                    {{d.modelo}}
                                    
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    
                                    {{d.estampado == null ? "- -" : d.estampado.dibujo}}
                                    
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                
                                    {{d.tela}}
                                    
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    {{d.peso_promedio}} Kg
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    {{d.taller == null  ? 'Sin Taller' : d.taller.nombre_completo}}
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    {{d.fecha_de_salida == null || d.fecha_de_salida == '' ? 'Sin fecha' : servicioProduccion.fechaARG(d.fecha_de_salida)}}
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    {{d.fecha_de_entrada == null || d.fecha_de_entrada == '' ? 'Sin fecha' : servicioProduccion.fechaARG(d.fecha_de_entrada)}}
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 text-sm text-gray-600 text-center">
                                    {{d.estado_pago == false || d.estado_pago == "false" ? 'Sin pago' : 'Pagado'}}
                                </td>
                                <td class=" border-b border-gray-200 text-sm text-gray-600 text-center ">
                                    <button (click)="mostrarProductos(d.id)" type="button" class="text-gray-600 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 ">
                                        <img src="/assets/icon/edits.png" alt="" class="lg:w-7 sm:w-20">
                                        
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                        <tbody class="" *ngFor="let item of cargaArray" >
                            <tr class="bg-white " *ngIf="cargaDeTables">
                        
                        
                                <td class="py-3" >
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                             
                                <td class="" >
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                             
                             
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                        
                        
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                        
                        
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                        
                        
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                                <td class="">
                                    <div class="bg-gray-200 w-11/12 animate-pulse h-8  rounded-2xl"></div>
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>

                    <app-paginacion-produccion
                    [conteoDePagina]="(cantidadPaginas)"
                    (paginacion)="paginacion($event)"
                    >

                    </app-paginacion-produccion>
                  <!--   <div class="px-5 bg-white py-5 flex flex-col xs:flex-row items-center xs:justify-between">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex items-center -space-x-px  overflow-x-auto " #categoryScrollX
                            style="max-width:330px"
                            >

                              <li class="sticky top-0 left-0 w-full flex justify-start">
                                <a (click)="cambioDePaginaNext(false)"  class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                  <span class="sr-only">Previous</span>
                                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                              </li>

                              <div class="flex items-center " *ngFor="let i of items">

                                <li >
                                    <a id="{{i}}" 
                                    (click)="cambioDePagina($event)"
                                    [ngClass]="' cursor-pointer py-2 px-3 leading-tight text-gray-500' + ( i == estadoDePagina ? 'z-10 text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700' :  'bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')"
                                     >{{i + 1}}</a>
                                </li>

                            </div>


                              <li class="sticky top-0 right-0 w-full flex justify-end">

                                <a (click)="cambioDePaginaNext(true)" class=" block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                  <span class="sr-only">Next</span>
                                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        


                    </div> -->

                </div>
                
            </div>
            
        </div>

        
    </div>



    <div class=" fixed inset-0 flex items-center z-50 " *ngIf>
        <div class=" px-6 py-4 rounded-md text-lg flex items-center justify-center w-full">

           
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-12 mx-auto">
            <h1 class="text-2xl font-semibold text-center text-gray-800 lg:text-4xl dark:text-white">Have any Questions?</h1>

            <div class="mt-8 xl:mt-16 lg:flex lg:-mx-12">
                <div class="lg:mx-12">
                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Contenido</h1>
                    
                    <div class="mt-4 space-y-4 lg:mt-8">
                        <a href="#" class="block text-blue-500 dark:text-blue-400 hover:underline">Todos</a>
                        <a href="#" class="block text-gray-500 dark:text-gray-300 hover:underline">Editar Producto</a>
                        <a href="#" class="block text-gray-500 dark:text-gray-300 hover:underline">Editar Estampado</a>
                        <a href="#" class="block text-gray-500 dark:text-gray-300 hover:underline">Editar Taller</a>
                        <a href="#" class="block text-gray-500 dark:text-gray-300 hover:underline">Pagos</a>
                    </div>
                </div>
                
                <div class="flex-1 mt-8 lg:mx-12 lg:mt-0">
                    
                    

                    

                  

                   <div class="flex flex-row gap-5 pb-5">

                    <div class="flex flex-col overflow-hidden ">
                        <div class="bg-stone-100 mx-4 rounded-t-lg text-center shadow">
                            <p class="text-gray-600">
                                Modelo
                            </p>
                        </div>
                        <div class="bg-gray-800  px-6 rounded-md shadow" >
                            
                            <p class="text-white">
                                Campera c/v
                            </p>
                        </div>
                    </div>


                    <div class="flex flex-col overflow-hidden ">
                        <div class="bg-stone-100 mx-4 rounded-t-lg text-center shadow">
                            <p class="text-gray-600">
                                Modelo
                            </p>
                        </div>
                        <div class="bg-gray-800  px-6 rounded-md shadow" >
                            
                            <p class="text-white">
                                Campera c/v
                            </p>
                        </div>
                    </div>


                    <div class="flex flex-col overflow-hidden ">
                        <div class="bg-stone-100 mx-4 rounded-t-lg text-center shadow">
                            <p class="text-gray-600">
                                Modelo
                            </p>
                        </div>
                        <div class="bg-gray-800  px-6 rounded-md shadow" >
                            
                            <p class="text-white">
                                Campera c/v
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col overflow-hidden ">
                        <div class="bg-stone-100 mx-4 rounded-t-lg text-center shadow">
                            <p class="text-gray-600">
                                Modelo
                            </p>
                        </div>
                        <div class="bg-gray-800  px-6 rounded-md shadow" >
                            
                            <p class="text-white">
                                Campera c/v
                            </p>
                        </div>
                    </div>

                   </div>


              

                </div>
            </div>
        </div>
    </section>


    
        </div>
    </div>