<div
  class="mx-auto fixed inset-0 flex items-center justify-center z-50  w-full "
  id="signin-success-message"
  
 
>
  <div class=" rounded-md text-lg flex items-center justify-center w-full  "  >
    <div class="border bg-white rounded-md" >
      <div class="flex items-center justify-between bg-gray-200 p-2" >
          
        <p class="font-medium text-lg text-gray-600">Elige el local</p>
        <button
          role="button"
          aria-label="close label"
          class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none"
        >
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 7L7 21"
              stroke="#A1A1AA"
              stroke-width="1.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M7 7L21 21"
              stroke="#A1A1AA"
              stroke-width="1.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>

      <div class="flex flex-col items-center gap-5">
        <label class="text-gray-700" for="animals">
          Locales
          <select
            id="animals"
            class="block w-52 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            name="animals"
          >
            <option value="">Opciones</option>
            <option value="central">Central</option>

          </select>
        </label>

        <p class="text-base font-medium text-gray-600">Cantidad Total: <span class="text-indigo-500 text-lg font-semibold"> 35 </span> </p>

        <div class="flex flex-row content-center justify-center gap-5 mx-2">

         
          <div class="relative w-40">
            <label for="name-with-label" class="text-gray-700"> Talle </label>
            <input
              type="text"
              id="name-with-label"
              class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              name="talle"
              placeholder="Talle"
            />
          </div>

          <div class="relative w-40">
            <label for="name-with-label" class="text-gray-700"> Cantidad </label>
            <input
              type="text"
              id="name-with-label"
              class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              name="cantidad"
              placeholder="Cantidad"
            />
          </div>

        </div>

        <button
          type="button"
          class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white  transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Agregar
        </button>

        <div class="border border-gray-400 rounded-md p-1 sm:max-h-52 sm:overflow-y-auto grid grid-cols-2">
 <!-- content local begin -->
 <div class="border rounded-md">
    <!-- title and close, begin -->
    <div class="flex items-center justify-between py-1">
      <p class="text-sm font-normal text-gray-600 underline ml-2">
        Central
      </p>

      <button
        role="button"
        aria-label="close label"
        class="mr-2 focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none"
      >
        <svg
          width="18"
          height="18"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21 7L7 21"
            stroke="#A1A1AA"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M7 7L21 21"
            stroke="#A1A1AA"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
    </div>

    <!-- title and close, end -->

    <!-- content, begin -->
    <div class="flex flex-col gap-1 max-h-28 overflow-y-auto">
      <div
        class="border border-orange-100 flex items-center justify-between rounded-md p-1"
      >
        <p class="font-light text-sm text-gray-500">
          Talle: <span class="text-indigo-600"> 3</span> Cantidad:
          <span class="text-indigo-600">34</span>
        </p>

        <button
          role="button"
          aria-label="close label"
          class="mr-2 focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none"
        >
          <svg
            width="15"
            height="15"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 7L7 21"
              stroke="#A1A1AA"
              stroke-width="1.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M7 7L21 21"
              stroke="#A1A1AA"
              stroke-width="1.75"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <!--  content, end -->
  </div>

  <!-- content local end -->
        </div>
       
      </div>
    </div>
  </div>
</div>
