


<div [ngClass]="'z-50 fixed w-full flex justify-center inset-0 '" >
   <!--  <div  class="w-full h-fullz-0 absolute inset-0" ></div> -->
    <div class="mx-auto container">
        <div class="flex items-center justify-center h-full w-full ">

            <!-- content start -->

<div class="py-14 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto bg-white">
  <div class="cursor-pointer absolute top-14 right-52 m-3 text-gray-800 dark:text-gray-100 transition duration-150 ease-in-out">
    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
    </svg>
</div>
    <div class="flex justify-start item-start space-y-2 flex-col">
      
        <h1 class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800">Order #13432</h1>
      <!--   <p class="text-base font-medium leading-6 text-gray-600">21st Mart 2021 at 10:34 PM</p> -->
        <div class="flex items-center justify-center px-2 py-1 mt-2 bg-green-100 rounded-full w-[100px]">
          <p class="text-xs leading-3 text-green-700">Pagado</p>
      </div>
    </div>
    <div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
      
        <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
            <div class="flex flex-col justify-start items-start bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full max-h-[250px] overflow-y-auto">
         <!--        <div class="sticky top-top">
                    <p class="text-lg md:text-xl font-semibold leading-6 xl:leading-5 text-gray-800">Productos en la orden</p>
                </div> -->
                

                <!-- product start -->
                <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
                   <!--  <div class="pb-4 md:pb-8 w-full md:w-40">
                        <img class="w-full hidden md:block" src="https://i.ibb.co/84qQR4p/Rectangle-10.png" alt="dress" />
                        <img class="w-full md:hidden" src="https://i.ibb.co/L039qbN/Rectangle-10.png" alt="dress" />
                    </div> -->
                    <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
                        
                        <div class="w-full flex flex-col justify-start items-start space-y-8">
                            <h3 class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800">#145</h3>
                        </div>

                        <div class="w-full flex flex-col justify-start items-start space-y-8">
                            <h3 class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800">Model & Design</h3>
                          <!--   <div class="flex justify-start items-start flex-col space-y-2">
                                <p class="text-sm leading-none text-gray-800"><span class="text-gray-300">Style: </span> Italic Minimal Design</p>
                                <p class="text-sm leading-none text-gray-800"><span class="text-gray-300">Size: </span> Small</p>
                                <p class="text-sm leading-none text-gray-800"><span class="text-gray-300">Color: </span> Light Blue</p>
                            </div> -->
                        </div>

                        <div class="flex justify-between space-x-8 items-start w-full">
                            <p class="text-base xl:text-lg leading-6 text-gray-700">C : <span class="font-light">23</span> </p>

                            <p class="text-base xl:text-lg leading-6 text-gray-700">T : <span class="font-light">1</span> </p>
                            <p class="text-base xl:text-lg font-semibold leading-6 text-gray-800">$36.00</p>
                        </div>

                        <div class="relative px-5 pt-2">
                            <button
                              class="focus:outline-none"
                              (click)="
                                dropDownList === 1 ? (dropDownList = 0) : (dropDownList = 1)
                              "
                            >
                              <svg
                                class="dropbtn"
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                              >
                                <path
                                  d="M4.16667 10.8332C4.62691 10.8332 5 10.4601 5 9.99984C5 9.5396 4.62691 9.1665 4.16667 9.1665C3.70643 9.1665 3.33334 9.5396 3.33334 9.99984C3.33334 10.4601 3.70643 10.8332 4.16667 10.8332Z"
                                  stroke="#9CA3AF"
                                  stroke-width="2.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                                <path
                                  d="M10 10.8332C10.4602 10.8332 10.8333 10.4601 10.8333 9.99984C10.8333 9.5396 10.4602 9.1665 10 9.1665C9.53976 9.1665 9.16666 9.5396 9.16666 9.99984C9.16666 10.4601 9.53976 10.8332 10 10.8332Z"
                                  stroke="#9CA3AF"
                                  stroke-width="2.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                                <path
                                  d="M15.8333 10.8332C16.2936 10.8332 16.6667 10.4601 16.6667 9.99984C16.6667 9.5396 16.2936 9.1665 15.8333 9.1665C15.3731 9.1665 15 9.5396 15 9.99984C15 10.4601 15.3731 10.8332 15.8333 10.8332Z"
                                  stroke="#9CA3AF"
                                  stroke-width="2.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                              </svg>
                            </button>
            
                            <div
                              *ngIf="dropDownList === 1"
                              class="bg-white shadow w-24 absolute right-0 mr-6 "
                            
                            >
                              <div
                                class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                              >
                                <p>Editar</p>
                              </div>
                              <div
                                class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                              >
                                <p>Eliminar</p>
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
                <!-- product end -->

                <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
                    <!--  <div class="pb-4 md:pb-8 w-full md:w-40">
                         <img class="w-full hidden md:block" src="https://i.ibb.co/84qQR4p/Rectangle-10.png" alt="dress" />
                         <img class="w-full md:hidden" src="https://i.ibb.co/L039qbN/Rectangle-10.png" alt="dress" />
                     </div> -->
                     <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
                         
                         <div class="w-full flex flex-col justify-start items-start space-y-8">
                             <h3 class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800">#145</h3>
                         </div>
 
                         <div class="w-full flex flex-col justify-start items-start space-y-8">
                             <h3 class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800">Model & Design</h3>
                           <!--   <div class="flex justify-start items-start flex-col space-y-2">
                                 <p class="text-sm leading-none text-gray-800"><span class="text-gray-300">Style: </span> Italic Minimal Design</p>
                                 <p class="text-sm leading-none text-gray-800"><span class="text-gray-300">Size: </span> Small</p>
                                 <p class="text-sm leading-none text-gray-800"><span class="text-gray-300">Color: </span> Light Blue</p>
                             </div> -->
                         </div>
 
                         <div class="flex justify-between space-x-8 items-start w-full">
                             <p class="text-base xl:text-lg leading-6 text-gray-700">C : <span class="font-light">23</span> </p>
 
                             <p class="text-base xl:text-lg leading-6 text-gray-700">T : <span class="font-light">1</span> </p>
                             <p class="text-base xl:text-lg font-semibold leading-6 text-gray-800">$36.00</p>
                         </div>
 
                         <div class="relative px-5 pt-2">
                             <button
                               class="focus:outline-none"
                               (click)="
                                 dropDownList === 1 ? (dropDownList = 0) : (dropDownList = 1)
                               "
                             >
                               <svg
                                 class="dropbtn"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="20"
                                 height="20"
                                 viewBox="0 0 20 20"
                                 fill="none"
                               >
                                 <path
                                   d="M4.16667 10.8332C4.62691 10.8332 5 10.4601 5 9.99984C5 9.5396 4.62691 9.1665 4.16667 9.1665C3.70643 9.1665 3.33334 9.5396 3.33334 9.99984C3.33334 10.4601 3.70643 10.8332 4.16667 10.8332Z"
                                   stroke="#9CA3AF"
                                   stroke-width="2.5"
                                   stroke-linecap="round"
                                   stroke-linejoin="round"
                                 ></path>
                                 <path
                                   d="M10 10.8332C10.4602 10.8332 10.8333 10.4601 10.8333 9.99984C10.8333 9.5396 10.4602 9.1665 10 9.1665C9.53976 9.1665 9.16666 9.5396 9.16666 9.99984C9.16666 10.4601 9.53976 10.8332 10 10.8332Z"
                                   stroke="#9CA3AF"
                                   stroke-width="2.5"
                                   stroke-linecap="round"
                                   stroke-linejoin="round"
                                 ></path>
                                 <path
                                   d="M15.8333 10.8332C16.2936 10.8332 16.6667 10.4601 16.6667 9.99984C16.6667 9.5396 16.2936 9.1665 15.8333 9.1665C15.3731 9.1665 15 9.5396 15 9.99984C15 10.4601 15.3731 10.8332 15.8333 10.8332Z"
                                   stroke="#9CA3AF"
                                   stroke-width="2.5"
                                   stroke-linecap="round"
                                   stroke-linejoin="round"
                                 ></path>
                               </svg>
                             </button>
             
                             <div
                               *ngIf="dropDownList === 1"
                               class="bg-white shadow w-24 absolute right-0 mr-6 "
                             
                             >
                               <div
                                 class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                               >
                                 <p>Editar</p>
                               </div>
                               <div
                                 class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                               >
                                 <p>Eliminar</p>
                               </div>
                             </div>
                           </div>
 
                     </div>
                 </div>     
            </div>

            
            <div class="flex justify-center flex-col md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
                <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6">
                    <h3 class="text-xl font-semibold leading-5 text-gray-800">Summary</h3>
                    <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
                        <div class="flex justify-between w-full">
                            <p class="text-base leading-4 text-gray-800">Total</p>
                            <p class="text-base leading-4 text-gray-600">$30.000</p>
                        </div>
                        <div class="flex justify-between items-center w-full">
                            <p class="text-base leading-4 text-gray-800">Descuento</p>
                            <p class="text-base leading-4 text-gray-600">-$2.000</p>
                        </div>
                      <!--   <div class="flex justify-between items-center w-full">
                            <p class="text-base leading-4 text-gray-800">Shipping</p>
                            <p class="text-base leading-4 text-gray-600">$8.00</p>
                        </div> -->
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <p class="text-base font-semibold leading-4 text-gray-800">Total</p>
                        <p class="text-base font-semibold leading-4 text-gray-600">$28.000</p>
                    </div>
                </div>
                
                <div class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6">

                    <div class="overflow-y-auto max-h-[180px] m-1">



                      <!-- descuento -->

                        <div class="w-full p-3 mt-4 bg-white rounded shadow flex flex-shrink-0 w-[220px]">
                            <div tabindex="0" aria-label="group icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex flex-shrink-0 items-center justify-center">
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                    <path d="M96 96C96 60.65 124.7 32 160 32H576C611.3 32 640 60.65 640 96V320C640 355.3 611.3 384 576 384H160C124.7 384 96 355.3 96 320V96zM160 320H224C224 284.7 195.3 256 160 256V320zM160 96V160C195.3 160 224 131.3 224 96H160zM576 256C540.7 256 512 284.7 512 320H576V256zM512 96C512 131.3 540.7 160 576 160V96H512zM368 128C323.8 128 288 163.8 288 208C288 252.2 323.8 288 368 288C412.2 288 448 252.2 448 208C448 163.8 412.2 128 368 128zM48 360C48 399.8 80.24 432 120 432H520C533.3 432 544 442.7 544 456C544 469.3 533.3 480 520 480H120C53.73 480 0 426.3 0 360V120C0 106.7 10.75 96 24 96C37.25 96 48 106.7 48 120V360z"/>
                                </svg>
                            </div>
                            <div class="pl-3 w-full flex content-center">
                              <div class="flex items-center justify-between w-full">
                                <p tabindex="0" class="focus:outline-none text-sm leading-none"><span class="text-indigo-700">Descuento: </span> -$2000</p>
                                <div tabindex="0" aria-label="close icon" role="button" class="focus:outline-none cursor-pointer">
                                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 3.5L3.5 10.5" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.5 3.5L10.5 10.5" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                  </svg>
                                </div>
                              </div>
                              <!-- <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p> -->
                            </div>
                          </div>
    

                        <!-- note -->
                          <div class="w-full p-3 mt-4 bg-white rounded shadow flex flex-shrink-0">
                            <div tabindex="0" aria-label="group icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex flex-shrink-0 items-center justify-center">
                             <!--    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                    <path d="M96 96C96 60.65 124.7 32 160 32H576C611.3 32 640 60.65 640 96V320C640 355.3 611.3 384 576 384H160C124.7 384 96 355.3 96 320V96zM160 320H224C224 284.7 195.3 256 160 256V320zM160 96V160C195.3 160 224 131.3 224 96H160zM576 256C540.7 256 512 284.7 512 320H576V256zM512 96C512 131.3 540.7 160 576 160V96H512zM368 128C323.8 128 288 163.8 288 208C288 252.2 323.8 288 368 288C412.2 288 448 252.2 448 208C448 163.8 412.2 128 368 128zM48 360C48 399.8 80.24 432 120 432H520C533.3 432 544 442.7 544 456C544 469.3 533.3 480 520 480H120C53.73 480 0 426.3 0 360V120C0 106.7 10.75 96 24 96C37.25 96 48 106.7 48 120V360z"/>
                                </svg> -->
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M4.30325 12.6667L1.33325 15V2.66667C1.33325 2.48986 1.40349 2.32029 1.52851 2.19526C1.65354 2.07024 1.82311 2 1.99992 2H13.9999C14.1767 2 14.3463 2.07024 14.4713 2.19526C14.5963 2.32029 14.6666 2.48986 14.6666 2.66667V12C14.6666 12.1768 14.5963 12.3464 14.4713 12.4714C14.3463 12.5964 14.1767 12.6667 13.9999 12.6667H4.30325ZM5.33325 6.66667V8H10.6666V6.66667H5.33325Z" fill="#4338CA" />
                                </svg>
                            </div>

                            <div class="pl-3 w-full flex content-center">
                              <div class="flex items-center justify-between w-full">
                                <p tabindex="0" class="focus:outline-none text-sm leading-none"><span class="text-indigo-700">Nota: </span> <span class="text-indigo-700">#145</span>, Agregar mas del color rojo y verde</p>
                                <div tabindex="0" aria-label="close icon" role="button" class="focus:outline-none cursor-pointer">
                                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 3.5L3.5 10.5" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.5 3.5L10.5 10.5" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                  </svg>
                                </div>
                              </div>
                              <!-- <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p> -->
                            </div>
                          </div>


                      
                         
                        
                    </div>

                    <div class="w-full flex justify-center items-center">
                        <button class="hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 py-5 w-96 md:w-full bg-gray-800 text-base font-medium leading-4 text-white">Agregar</button>
                    </div> 
                 


                </div>
            </div>

            <div>
              <button class="mx-2 my-2 bg-red-400 transition duration-150 ease-in-out focus:outline-none rounded text-white border px-6 py-2 text-base hover:bg-red-300">Cancelar pedido</button>

            </div>

        </div>


        <div class="bg-gray-50 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col">
            <h3 class="text-xl font-semibold leading-5 text-gray-800">Datos de cliente</h3>
            <div class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
                <div class="flex flex-col justify-start items-start flex-shrink-0">
                    <div class="flex justify-center w-full md:justify-start items-center space-x-4 py-5 border-b border-gray-200">
                        <!-- <img src="https://i.ibb.co/5TSg7f6/Rectangle-18.png" alt="avatar" /> -->
                        <div class="flex justify-start items-start flex-col space-y-2">
                            <p class="text-base font-semibold leading-4 text-left text-gray-800">David Kent</p>
                            <p class="text-sm leading-5 text-gray-600">DNI/CUIL:</p>
                            <p class="text-sm leading-5 text-gray-600">TEL/CEL:</p>
                        </div>
                    </div>

                    <div class="flex justify-center md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3 7L12 13L21 7" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="cursor-pointer text-sm leading-5 text-gray-800">david89@gmail.com</p>
                    </div>
                </div>
                <div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">
                  
                    <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
                        <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                            <p class="text-base font-semibold leading-4 text-center md:text-left text-gray-800">Direccion de envio</p>
                            <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600">180 North King Street, Northhampton MA 1060</p>
                        </div>

                        <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4">
                            <p class="text-base font-semibold leading-4 text-center md:text-left text-gray-800">Datos del comprobante</p>

                            <div class="grid grid-cols-2 gap-2 py-3">
                              <p class="text-center md:text-left text-sm leading-5 text-gray-600">Factura Tipo: <span class="text-indigo-700 ">A</span></p>
                              <p class="text-center md:text-left text-sm leading-5 text-gray-600">Fecha de pago: <span class="text-indigo-700">14/02/22</span></p>
                              <p class="text-center md:text-left text-sm leading-5 text-gray-600">Forma de pago: <span class="text-indigo-700">Efectivo</span></p>
                              <p class="text-center md:text-left text-sm leading-5 text-gray-600">Armado por: <span class="text-indigo-700">Central</span></p>
                              <p class="text-center md:text-left text-sm leading-5 text-gray-600">Fecha de envio: <span class="text-indigo-700">17/02/22</span></p>
                              <p class="text-center md:text-left text-sm leading-5 text-gray-600">Transporte: <span class="text-indigo-700">Camion</span></p>
                     
                            </div>
                 
                            
                        </div>
                    </div>
                    <div class="flex w-full justify-center items-center md:justify-start md:items-start">
                        <button class="mt-6 md:mt-0 py-5 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 font-medium w-96 2xl:w-full text-base font-medium leading-4 text-gray-800">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            <!-- content end -->



</div>
</div>
</div>


