

<div class="grid place-items-center lg:p-12 md:p-3">
   <!-- search -->
   <div class="w-full my-5 lg:2/3 md:w-2/3 shadow p-5 rounded-lg bg-white h-6/6">
    <div class="relative">
      <div class="absolute flex items-center ml-2 h-full">
        <svg
          class="w-4 h-4 fill-current text-primary-gray-dark"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.8898 15.0493L11.8588 11.0182C11.7869 10.9463 11.6932 10.9088 11.5932 10.9088H11.2713C12.3431 9.74952 12.9994 8.20272 12.9994 6.49968C12.9994 2.90923 10.0901 0 6.49968 0C2.90923 0 0 2.90923 0 6.49968C0 10.0901 2.90923 12.9994 6.49968 12.9994C8.20272 12.9994 9.74952 12.3431 10.9088 11.2744V11.5932C10.9088 11.6932 10.9495 11.7869 11.0182 11.8588L15.0493 15.8898C15.1961 16.0367 15.4336 16.0367 15.5805 15.8898L15.8898 15.5805C16.0367 15.4336 16.0367 15.1961 15.8898 15.0493ZM6.49968 11.9994C3.45921 11.9994 0.999951 9.54016 0.999951 6.49968C0.999951 3.45921 3.45921 0.999951 6.49968 0.999951C9.54016 0.999951 11.9994 3.45921 11.9994 6.49968C11.9994 9.54016 9.54016 11.9994 6.49968 11.9994Z"
          ></path>
        </svg>
      </div>

      <input
        type="text"
        placeholder="Buscar por modelo o codigo..."
        class="px-8 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm"
      />
    </div>
    <!-- #box (keyup.enter)="onKey(box.value)" -->
    <div class="flex items-center mt-4">
  <!-- filtros -->
  <div>
    <div>
        <div class="flex items-center mt-4">
            <div>
              <div
                class="border py-1 px-3 rounded-md hover:shadow cursor-pointer"
               (click)="filtrosOpciones = !filtrosOpciones"
              >
                Filtro
              </div>
              <div
                [ngClass]="'absolute bg-white shadow p-5 z-50 flex flex-col '+ (filtrosOpciones ? 'block' : 'hidden')"
              
              >
                <label class="inline-flex items-center mt-3">
                  <input
                    type="checkbox"
                    class="form-checkbox h-5 w-5 text-gray-600"
                    value="modelo"
                  /><span class="ml-2 text-gray-700">Central</span>
                </label>
                <label class="inline-flex items-center mt-3">
                  <input
                    type="checkbox"
                    class="form-checkbox h-5 w-5 text-gray-600"
                    value="modelo"
                  /><span class="ml-2 text-gray-700">Cuenca</span>
                </label>
              </div>
            </div>
    
            <div>
              <div
                class="border py-1 px-3 rounded-md hover:shadow cursor-pointer"
              (click)="filtrosFechas = !filtrosFechas"
              >
                Fechas
              </div>
              <div
                [ngClass]="'absolute z-50 bg-white p-4 shadow ' + (filtrosFechas ? 'block' : 'hidden')"
        

              >
                <div class="relative">
                  <label for="name-with-label" class="text-gray-700">
                    Fecha de...
                  </label>
                  <input
                    #fecha1
                    type="date"
                    id="name-with-label"
                    class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                    name="email"
                    placeholder="Your name"
                  />
                </div>
    
                <div class="relative">
                  <label for="name-with-label" class="text-gray-700">
                    Fecha hasta...
                  </label>
                  <input
                    #fecha2
                    type="date"
                    id="name-with-label"
                    class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                    name="email"
                    placeholder="Your name"
                  />
                </div>
    
                <div>
                  <p class="text-gray-600 text-sm">
                    *Si solo quiere un fecha exacta, <br />
                    Unicamente seleccione la "Fecha de ..."
                  </p>
                </div>
    
                <div>
                  <button
                    type="button"
                    
                    class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
                  >
                    Buscar
                  </button>
                </div>
              </div>
            </div>
      </div>
</div>
</div>
<!-- filtros end-->
    </div>
  </div>
  <!-- search end -->

<div class="w-full max-w-2xl px-4 ">
    <div class="border rounded-lg pb-6 border-gray-200 bg-white">
        <div class="flex items-center border-b border-gray-200 justify-between px-6 py-3">
            <p class="text-sm lg:text-xl font-semibold leading-tight text-gray-800">Historial</p>
           <!--  <div class="flex cursor-pointer items-center justify-center px-3 py-2.5 border rounded border-gray-100">
                <p class="text-xs md:text-sm leading-none text-gray-600">Filter by: Latest</p>
            </div>
           -->
        </div>
       
        
        <div class="px-6 pt-6 overflow-x-auto">
            <table class="w-full whitespace-nowrap">
                <tbody *ngFor="let item of arrayTodasLasOrdenes">
                    <tr class="hover:bg-gray-100 cursor-pointer border-t h-20" (click)="cargarDetalles(item.id)">
                        <td >
                          
                            <div class="flex items-center">
                                <div class="bg-gray-100 rounded-sm p-2.5">


                           <!--          <fa-icon [icon]="faCheck" *ngIf="item.ordenEstado.pagado == false ? true : false" ></fa-icon> 
                                    <fa-icon [icon]="faCheckDouble" *ngIf="item.ordenEstado.pagado  == true ? true : false" ></fa-icon> 
                                    <fa-icon [icon]="faBan" *ngIf="item.estado == false" ></fa-icon>  -->
                                    <fa-icon [icon]="faTicket" style="color:gray;"></fa-icon> 
                                </div>
                                <div class="pl-3">
                                    <div class="flex items-center text-sm leading-none">
                                        <p class="font-semibold text-gray-800"> {{ item.cliente.nombre + (item.cliente.apellido == null || item.cliente.apellido == '' ? '' :' ' + item.cliente.apellido) }} </p>
                                        <p class="text-blue-500 ml-3">(ID {{item.id}})</p>
                                    </div>
                                    <div class="text-xs md:text-sm leading-none text-gray-600 mt-2 flex flex-col">
                                        <span class="font-medium">Fecha emision: <span class="font-light"> {{servicioProduccion.fechaARG(item.created_at)}}</span> </span> 
                                        <span class="font-medium">Fecha de pago: <span class="font-light"> {{item.ordenEstado == null ? '- -' : ( item.ordenEstado.fecha_de_pago == null ? '- -' : servicioProduccion.fechaARG(item.ordenEstado.fecha_de_pago)) }}</span> </span> 
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="pl-16">
                            <div class="flex flex-col items-end">
                                <p class="text-sm font-semibold leading-none text-right text-gray-800">{{calcularEltotal(item.orden_detalle) | currency:''}}</p>
                                <div [ngClass]="'flex items-center justify-center px-2 py-1 mt-2 w-20 rounded-full ' + (item.ordenEstado.pagado == true ? 'bg-green-100' : ( item.estado == false ? ' bg-gray-100' : ' bg-yellow-100' )) " >
                                    <p [ngClass]="'text-xs leading-3 ' + (item.ordenEstado.pagado == true ? ' text-green-700' : ( item.estado == false ? ' text-gray-700' : ' text-yellow-700' ))">{{item.ordenEstado.pagado == true ? 'Pagado' : ( item.estado == false ? 'Cancelado' : 'Pendiente' )}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
  
                </tbody>
            </table>
        </div>

        <app-paginacion
        [estadoDePagina]="50"
        (paginacion)="paginacion($event)"
        >

        </app-paginacion>

    </div>
</div>


<app-modify *ngIf="servicioVentas.abrirCerrarVentanaOrdenDetalles" [detallesDeOrden]="mandadoOrdenSeleccionada"></app-modify>
<!-- <app-modify *ngIf="servicioVentas.abrirCerrarVentanaOrdenDetalles" [detallesDeOrden]="mandadoOrdenSeleccionada"></app-modify> -->

</div>



<!-- <app-search-products></app-search-products> -->



<!-- <app-edit-products-multiple></app-edit-products-multiple> -->


