<section
  [ngClass]="
    'bg-white dark:bg-gray-900 animate__animated  ' +
    (servicioProduccion.ventanaDeAgregarOpciones == true
      ? servicioProduccion.EntrarAlPlano
      : servicioProduccion.SalirDelPlano)
  "


  *ngIf="servicioProduccion.ventanaDeAgregarOpciones" 
>
<!-- *ngIf="servicioProduccion.ventanaDeAgregarOpciones" -->
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
      Explora <br />
      toda las opciones <span class="underline decoration-blue-500"></span>
    </h1>

    <hr class="my-5">

    <div>
        <h1 class="text-4xl font-semibold text-gray-600">Agregar</h1>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
    >
      <div
        class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"
      >
        <span class="inline-block text-blue-500 dark:text-blue-400">
    
          <fa-icon [icon]="faShirt" class="" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          agregar producto nuevo
        </h1>
     
        <a
          (click)="
            servicioProduccion.abrirVentanaAgregraProductos =
              !servicioProduccion.abrirVentanaAgregraProductos
          "
          (click)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
          class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>

      <div
        class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"
      >
        <span class="inline-block text-blue-500 dark:text-blue-400">
          <fa-icon [icon]="faBuilding" class="" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          agregar taller nuevo
        </h1>
   
        <a
          (click)="
            servicioProduccion.abrirVentanaAgregraTaller =
              !servicioProduccion.abrirVentanaAgregraTaller
          "
          (click)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
          class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>

      <div
        class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"
      >
        <span class="inline-block text-blue-500 dark:text-blue-400">
          <fa-icon [icon]="faPaintRoller" class="" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          agregar estampador nuevo
        </h1>
    
        <a
          (click)="
            servicioProduccion.abrirVentanaAgregraEstampador =
              !servicioProduccion.abrirVentanaAgregraEstampador
          "
          (click)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
          class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>

      <div
        class="p-8 space-y-3 border-2 border-gray-400 dark:border-gray-300 rounded-xl"
        *ngIf
      >
        <span class="inline-block text-gray-500 dark:text-gray-400">
          <fa-icon [icon]="faScroll" class="line-through" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white line-through"
        >
          agregar rollo nuevo
        </h1>
 
        <a
          class="inline-flex p-2 text-gray-500 capitalize transition-colors duration-200 transform bg-gray-100 rounded-full dark:bg-gray-500 dark:text-white hover:underline hover:text-gray-600 dark:hover:text-gray-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>


      
    </div>
  </div>

  <!-- view de opciones  -->


  <div class="container px-6 py-10 mx-auto">
  

    <hr class="my-5">

    <div>
        <h1 class="text-4xl font-semibold text-gray-600">Ver</h1>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
    >
      <div
        class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"
      >
        <span class="inline-block text-blue-500 dark:text-blue-400">
    
          <fa-icon [icon]="faShirt" class="" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
        ver talleres o editar
        </h1>
     
        <a
        (click)="abrirVentanaVerTaller = !abrirVentanaVerTaller"
          (click)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
          class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>

      <div
        class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl" *ngIf=""
      >
        <span class="inline-block text-blue-500 dark:text-blue-400">
          <fa-icon [icon]="faBuilding" class="" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          ver talleres o editar
        </h1>
   
        <a
          (click)="abrirVentanaVerTaller = !abrirVentanaVerTaller"
          (click)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
          class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>

      <div
        class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"  *ngIf=""
      >
        <span class="inline-block text-blue-500 dark:text-blue-400">
          <fa-icon [icon]="faPaintRoller" class="" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          agregar estampador nuevo
        </h1>
    
        <a
          (click)="
            servicioProduccion.abrirVentanaAgregraEstampador =
              !servicioProduccion.abrirVentanaAgregraEstampador
          "
          (click)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
          class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>

      <div
        class="p-8 space-y-3 border-2 border-gray-400 dark:border-gray-300 rounded-xl"
        *ngIf
      >
        <span class="inline-block text-gray-500 dark:text-gray-400">
          <fa-icon [icon]="faScroll" class="line-through" size="lg"></fa-icon>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white line-through"
        >
          agregar rollo nuevo
        </h1>
 
        <a
          class="inline-flex p-2 text-gray-500 capitalize transition-colors duration-200 transform bg-gray-100 rounded-full dark:bg-gray-500 dark:text-white hover:underline hover:text-gray-600 dark:hover:text-gray-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>


    </div>
  </div>
  
</section>

<app-producto-nuevo
  *ngIf="servicioProduccion.abrirVentanaAgregraProductos"
></app-producto-nuevo>

<app-agregar-taller
  *ngIf="servicioProduccion.abrirVentanaAgregraTaller"
></app-agregar-taller>

<app-agregar-estampador
  *ngIf="servicioProduccion.abrirVentanaAgregraEstampador"
></app-agregar-estampador>





<app-ver-talleres 
*ngIf="abrirVentanaVerTaller"
(cerrarVentana)="abrirVentanaVerTaller = !abrirVentanaVerTaller"
(cerrarVentana)="
            servicioProduccion.ventanaDeAgregarOpciones =
              !servicioProduccion.ventanaDeAgregarOpciones
          "
></app-ver-talleres>
