<div class="grid place-items-center h-screen lg:p-12 md:p-3">
    <!--   <div class="px-4 md:px-10 py-4 md:py-7">
          <div class="flex items-center justify-between">
            <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Inicio</p>
    
            <div
              class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded">
              <p>Sort By:</p>
              <select class="focus:outline-none bg-transparent ml-1">
                <option class="text-sm text-indigo-800">Latest</option>
                <option class="text-sm text-indigo-800">Oldest</option>
                <option class="text-sm text-indigo-800">Latest</option>
              </select>
            </div>
    
          </div>
        </div> -->
  
    <div
      class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10 overflow-auto h-full w-full"
    >
      <!--  lg:h-[100vh] lg:w-full -->
      <div class="sm:flex items-center justify-between">
        <div class="flex items-center w-[400px]" #categoryChangeDiv>
          <div
            class="flex justify-start cursor-pointer"
            (click)="moveCategory('left')"
          >
            <!-- <i style="font-size: 24px; color: #757d88" class="fas"> &#xf104;</i> -->

    <fa-icon [icon]="faArrowLeft" class=""  ></fa-icon>
            
          </div>
  
          <div
            class="flex items-center w-[400px] overflow-hidden"
            #categoryScrollX
          >
            <a
              href="javascript:void(0)"
              (click)="changeCategory(i)"
              *ngFor="let i of categoryChange"
            >
              <div
                [class]="
                  i === valueHomeCategory
                    ? 'py-2 px-8 bg-indigo-100 text-indigo-700 rounded-full'
                    : 'py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full'
                "
              >
                <p>{{ i | titlecase }}</p>
              </div>
            </a>
          </div>
  
          <!-- <a href="javascript:void(0)" (click)="changeCategory('todo')">
                <div class="py-2 px-8 bg-indigo-100 text-indigo-700 rounded-full">
                  <p>Todo</p>
                </div>
              </a>
              <a href="javascript:void(0)" (click)="changeCategory('camisetas')">
                <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full ml-4 sm:ml-8">
                  <p>Camisetas</p>
                </div>
              </a>
              <a href="javascript:void(0)" (click)="changeCategory('buzos')">
                <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full ml-4 sm:ml-8">
                  <p>Buzos</p>
                </div>
              </a>
              <a href="javascript:void(0)" (click)="changeCategory('camperas')">
                <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full ml-4 sm:ml-8">
                  <p>Camperas</p>
                </div>
              </a> -->
  
          <div
            class="flex justify-end cursor-pointer"
            (click)="moveCategory('right')"
          >
<!--             <i style="font-size: 24px; color: #757d88" class="fas">&#xf105;</i>
 -->            <fa-icon [icon]="faArrowRight" class=""  ></fa-icon>

          </div>
        </div>
  
        <div
          class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded"
        >
          <p>Orden por local:</p>
          <select class="focus:outline-none bg-transparent ml-1 w-20">
            <option class="text-sm text-indigo-800">Todos</option>
            <!--     <option class="text-sm text-indigo-800">Oldest</option>
                <option class="text-sm text-indigo-800">Latest</option> -->
          </select>
        </div>
      </div>
  
      <!--        <div class="mt-7 overflow-x-auto sm:w-full">
            <table class="w-full whitespace-nowrap">
              <thead>
                <tr>
                  <th class=""></th>
                  <th class="">Cantidad</th>
                  <th class="pl-24">Precio</th>
                  <th class="">Total</th>
                  <th class="">Acciones</th>
                  <th class="">Acciones</th>
                  <th class="">Acciones</th>
                  <th class="pl-5"></th>
                  
                </tr>
                
              </thead>
            </table>
          </div> -->


          
  
      <div class="my-5 overflow-x-auto sm:w-full " *ngFor="let datosDis of dataArrays">
        <table class="w-full whitespace-nowrap " >
          <tbody class="relative  bg-white" >
            <tr class="h-16 border border-gray-100 rounded">
              <td>
                <div class="ml-5">
                  <div
                    class="rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative"
                    (click)="viewSubTable(datosDis.id)"
                  >
                    <svg
                      width="24"
                      height="24"
                      stroke-width="2.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      style="cursor: pointer"
                    >
                      <path
                        d="M6 9L12 15L18 9"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
  
                    <!-- <input type="checkbox" class="checkbox opacity-0 absolute cursor-pointer w-full h-full" /> -->
                    <!--     <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                  <path stroke="none" d="M0 0h24v24H0z"></path>
                                                  <path d="M5 12l5 5l10 -10"></path>
                                              </svg>
                            </div> -->
                  </div>
                </div>
              </td>
              <td class="">
                <div class="flex items-center pl-5">
                  <p
                    class="text-base font-medium leading-none text-gray-700 mr-2"
                  >
                    {{datosDis.modelo}}
                  </p>
                  <!--    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                          d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                          stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                          d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                          stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg> -->
                </div>
              </td>
              <td class="pl-12">
                <div class="flex items-center">
                  <fa-icon [icon]="faShirt" class="" style="color:gray" ></fa-icon>

                  <p class="text-sm leading-none text-gray-600 ml-2">{{datosDis.estampado.length > 0 ? datosDis.estampado[0].dibujo : '- -'}}</p>
                </div>
              </td>
              <td class="pl-5">
                <div class="flex items-center">
                  
                  <p class="text-sm leading-none text-gray-600 ml-2">{{'Cant: '+ datosDis.cantidad_entregada}}</p>
                </div>
              </td>
              <td class="pl-5">
                <div class="flex items-center">
           
                  <fa-icon [icon]="faUser" class=""  style="color:gray"></fa-icon>
                  <p class="text-sm leading-none text-gray-600 ml-2">{{'- -'}}</p>
                </div>
              </td>
              <!--      <td class="pl-5">
                    <div class="flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path
                          d="M12.5 5.83339L7.08333 11.2501C6.75181 11.5816 6.56556 12.0312 6.56556 12.5001C6.56556 12.9689 6.75181 13.4185 7.08333 13.7501C7.41485 14.0816 7.86449 14.2678 8.33333 14.2678C8.80217 14.2678 9.25181 14.0816 9.58333 13.7501L15 8.33339C15.663 7.67034 16.0355 6.77107 16.0355 5.83339C16.0355 4.8957 15.663 3.99643 15 3.33339C14.337 2.67034 13.4377 2.29785 12.5 2.29785C11.5623 2.29785 10.663 2.67034 10 3.33339L4.58333 8.75005C3.58877 9.74461 3.03003 11.0935 3.03003 12.5001C3.03003 13.9066 3.58877 15.2555 4.58333 16.2501C5.57789 17.2446 6.92681 17.8034 8.33333 17.8034C9.73985 17.8034 11.0888 17.2446 12.0833 16.2501L17.5 10.8334"
                          stroke="#52525B" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                    </div>
                  </td> -->
              <td class="pl-5">
                <button
                  class="py-2 px-3 text-sm focus:outline-none leading-none text-gray-600 bg-yellow-300 hover:bg-yellow-200 rounded flex flex-row items-center gap-[5px]"
                >
                  <svg
                    width="20"
                    height="20"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 640 512 "
                  >
                    <path
                      fill="#52525B"
                      stroke="red"
                      d="M112 0C85.49 0 64 21.49 64 48V96H16C7.163 96 0 103.2 0 112C0 120.8 7.163 128 16 128H272C280.8 128 288 135.2 288 144C288 152.8 280.8 160 272 160H48C39.16 160 32 167.2 32 176C32 184.8 39.16 192 48 192H240C248.8 192 256 199.2 256 208C256 216.8 248.8 224 240 224H16C7.163 224 0 231.2 0 240C0 248.8 7.163 256 16 256H208C216.8 256 224 263.2 224 272C224 280.8 216.8 288 208 288H64V416C64 469 106.1 512 160 512C213 512 256 469 256 416H384C384 469 426.1 512 480 512C533 512 576 469 576 416H608C625.7 416 640 401.7 640 384C640 366.3 625.7 352 608 352V237.3C608 220.3 601.3 204 589.3 192L512 114.7C499.1 102.7 483.7 96 466.7 96H416V48C416 21.49 394.5 0 368 0H112zM544 237.3V256H416V160H466.7L544 237.3zM160 464C133.5 464 112 442.5 112 416C112 389.5 133.5 368 160 368C186.5 368 208 389.5 208 416C208 442.5 186.5 464 160 464zM528 416C528 442.5 506.5 464 480 464C453.5 464 432 442.5 432 416C432 389.5 453.5 368 480 368C506.5 368 528 389.5 528 416z"
                    />
                  </svg>
  
                  <label class="text-gray-800">
                    Enviado
                    <p class="text-sm leading-none text-gray-600">04/07</p>
                  </label>
  
                  <!-- Enviado -->
                </button>
                
              </td>
              <td class="pl-4">
                <button
                (click)="abrirAgregarDistribucion(datosDis.cantidad_entregada)"
                  class="text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
                >
                  Agregar
                </button>
              </td>
  
         <!--      <td>
                <div class="relative px-5 pt-2">
                  <button
                    class="focus:outline-none"
                    (click)="
                      dropDownList === 1 ? (dropDownList = 0) : (dropDownList = 1)
                    "
                  >
                    <svg
                      class="dropbtn"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M4.16667 10.8332C4.62691 10.8332 5 10.4601 5 9.99984C5 9.5396 4.62691 9.1665 4.16667 9.1665C3.70643 9.1665 3.33334 9.5396 3.33334 9.99984C3.33334 10.4601 3.70643 10.8332 4.16667 10.8332Z"
                        stroke="#9CA3AF"
                        stroke-width="1.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                      <path
                        d="M10 10.8332C10.4602 10.8332 10.8333 10.4601 10.8333 9.99984C10.8333 9.5396 10.4602 9.1665 10 9.1665C9.53976 9.1665 9.16666 9.5396 9.16666 9.99984C9.16666 10.4601 9.53976 10.8332 10 10.8332Z"
                        stroke="#9CA3AF"
                        stroke-width="1.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                      <path
                        d="M15.8333 10.8332C16.2936 10.8332 16.6667 10.4601 16.6667 9.99984C16.6667 9.5396 16.2936 9.1665 15.8333 9.1665C15.3731 9.1665 15 9.5396 15 9.99984C15 10.4601 15.3731 10.8332 15.8333 10.8332Z"
                        stroke="#9CA3AF"
                        stroke-width="1.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </button>
  
                  <div
                    *ngIf="dropDownList === 1"
                    class="bg-white shadow w-24 absolute right-0 mr-6 "
                  
                  >
                    <div
                      class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                    >
                      <p>Editar</p>
                    </div>
                    <div
                      class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white"
                    >
                      <p>Eliminar</p>
                    </div>
                  </div>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
  
    
<!-- 
        <app-sub-table-dis-produccion 
        *ngIf="isSubTable" 
        [dataArrays]="datosDis.distribucion"
        >

        </app-sub-table-dis-produccion>
 -->


    <!-- ESTA ES LA SUB TABLE DE PRUEBA  -->
        <div class="sm:px-4 xl:w-auto  animate__animated animate__slideInDown z-30 w-full" *ngIf="dataArraysSub[datosDis.id]" >
          <!--  sm:w-[1050px] -->
           <!-- *ngIf="isSubTable"  -->
           <div class=" bg-white overflow-y-auto flex justify-center" >
               <!-- shadow -->
               <table class="whitespace-nowrap border border-gray-100 lg:w-11/12 sm:w-11/12" >
                   <thead>
                       <tr class="h-12 w-full text-sm leading-none text-gray-800 bg-slate-100">
                          
       
                           <th class="font-normal text-left pl-10">Cantidad</th>
                           <th class="font-normal text-left">Talles</th>
                           <th class="font-normal text-left">Tela</th>
                           <th class="font-normal text-left">Local</th>
                           <th class="font-normal text-left">Edad</th>
                           <th class="font-normal text-center">Fallas</th>
                           <!-- <th class="font-normal text-left pl-16"></th> -->
                           <th class=""></th>
                           <th class=""></th>
                     
                       </tr>
                   </thead>
                   <tbody class="w-full" *ngFor="let sub of datosDis.distribucion">
                       <tr class="h-14 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
                           <td class="cursor-pointer">
                               <div class="flex items-center">
                                   <div class="w-10 h-10 flex justify-center items-center hover:shadow hover:rounded-full hover:bg-[#E0E7FF]" >
                                       <svg width="24" height="24" stroke-width="2.5" viewBox="0 0 24 24" fill="none"
                                       xmlns="http://www.w3.org/2000/svg" style="cursor:pointer;" >
                                       <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                     </svg>
                              
                                   </div>
                                   <div class="pl-4">
                                       <p class="font-medium">{{sumaYtalles(sub.talle, 'cantidad')}}</p>
                                       <!-- <p class="text-xs leading-3 text-gray-600 pt-2">Herman Group</p> -->
                                   </div>
                               </div>
                           </td>
                           <td class="">
                               <p class="text-sm font-medium leading-none text-gray-800 ">{{sumaYtalles(sub.talle, 'talles')}}</p>
                              <!--  <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                                   <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                               </div> -->
                           </td>
                           <td class="">
                               <p class="font-medium">Modal</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">5 tasks pending</p> --> 
                           </td>
                           <td class="">       
                               <p class="font-medium capitalize">{{sub.local}}</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">$4,200 left</p> -->
                           </td>
                           <td class="">
                               <p class="font-medium">Nena</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">34 days</p> -->
                           </td>
                           <td class="">
                               <p class="font-medium text-center">0</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">34 days</p> -->
                           </td>
                       <!--     <td class="pl-16">
                               <div class="flex items-center">
                                   <img class="shadow-md w-8 h-8 rounded-full" src="https://cdn.tuk.dev/assets/templates/olympus/projects(8).png" />
                                   <img class="shadow-md w-8 h-8 rounded-full -ml-2" src="https://cdn.tuk.dev/assets/templates/olympus/projects(9).png" />
                                   <img class="shadow-md w-8 h-8 rounded-full -ml-2" src="https://cdn.tuk.dev/assets/templates/olympus/projects(10).png" />
                                   <img class="shadow-md w-8 h-8 rounded-full -ml-2" src="https://cdn.tuk.dev/assets/templates/olympus/projects(11).png" />
                               </div>
                           </td> -->
                           <td class="">
       
                               <div class="flex justify-center" >
                                  
       
                                  <button
                                  (click)="servicioProduccion.IDdistribucion$.emit(sub.id)"
                                  (click)="servicioProduccion.arrayFallasEliminar$.emit(sub.talle)"
                                  (click)="VentanaDeFallas = !VentanaDeFallas"
                                  class="py-2 px-3 text-sm focus:outline-none leading-none text-gray-600 bg-orange-200 hover:bg-orange-100 rounded flex flex-row items-center gap-[5px]"
                                 >
                              
           
                                <!--    <svg  
                                   width="20"
                                   height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                   <path fill="#52525B" d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32s-14.33 32-32 32S160 113.7 160 96S174.3 64 192 64zM282.9 262.8l-88 112c-4.047 5.156-10.02 8.438-16.53 9.062C177.6 383.1 176.8 384 176 384c-5.703 0-11.25-2.031-15.62-5.781l-56-48c-10.06-8.625-11.22-23.78-2.594-33.84c8.609-10.06 23.77-11.22 33.84-2.594l36.98 31.69l72.52-92.28c8.188-10.44 23.3-12.22 33.7-4.062C289.3 237.3 291.1 252.4 282.9 262.8z"/>
                               </svg> -->

                               <fa-icon [icon]="faTrash" class=""  ></fa-icon>
                                   <label class="text-gray-800">
                                     Eliminar            
                                   </label>
                   
                                   <!-- Enviado -->
           
       
           
       
                                 </button>
           
                             
                               </div>
       
                              
                           </td>
       
                           <td class="" >
       
                               <div class="flex justify-center">
                                  
       
                                <button
                                (click)="servicioProduccion.IDdistribucion$.emit(sub.id)"
                                (click)="servicioProduccion.arrayFallasEliminar$.emit(sub.talle)"

                                (click)="VentanaDeEliminar = !VentanaDeEliminar"
                                
                                class="py-2 px-3 text-sm focus:outline-none leading-none text-gray-600 bg-red-300	 hover:bg-red-200	 rounded flex flex-row items-center gap-[5px]"
                                >
                              
           
                                 <svg 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 512 512"
                                 width="20"
                                 height="20"
                                 >
                                     <path fill="#52525B" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM232 152C232 138.8 242.8 128 256 128s24 10.75 24 24v128c0 13.25-10.75 24-24 24S232 293.3 232 280V152zM256 400c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 385.9 273.4 400 256 400z"/>
                                   </svg>
                   
                                   <label class="text-gray-800">
                                     Fallas            
                                   </label>
                   
                                  
           
       
           
       
                                 </button>
           
                             
                               </div>
       
                              
                           </td>
                       </tr>
                   
              
                   </tbody>
               </table>
                 
           </div>
        <!--  sub-sub-fallas home-->
       
       <!--  <app-sub-tables-failures [isSubTableFailures]="isSubTableFailures" ></app-sub-tables-failures> -->
        <!--  sub-sub-fallas end-->
       
       
       </div>
       <!-- ESTA ES LA SUB TABLE DE PRUEBA  -->
        <!-- segundo producto -->





        <app-add-productos-produccion *ngIf="isDistribucion" [cantidad_actual]="cantidadEntega" [cerrarVenta]="isDistribucion"></app-add-productos-produccion>

        <app-eliminar-ofallas [Eliminar]="VentanaDeEliminar" [Fallas]="VentanaDeFallas" (EmitEliminar)="VentanaDeEliminar = $event" (EmitFallas)="VentanaDeFallas = $event"  ></app-eliminar-ofallas>


      </div>
    </div>
  
    <style>
      .checkbox:checked + .check-icon {
        display: flex;
      }
    </style>
  </div>


