<div class="grid place-items-center lg:p-12 md:p-3">
 
   
  <div class="flex w-full py-5">
  <!-- filtro begin  -->
  <div class="w-full md:w-2/3 shadow p-5 rounded-lg bg-white h-3/6 ">
    <div class="relative">
      <div class="absolute flex items-center ml-2 h-full">
        <svg class="w-4 h-4 fill-current text-primary-gray-dark" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.8898 15.0493L11.8588 11.0182C11.7869 10.9463 11.6932 10.9088 11.5932 10.9088H11.2713C12.3431 9.74952 12.9994 8.20272 12.9994 6.49968C12.9994 2.90923 10.0901 0 6.49968 0C2.90923 0 0 2.90923 0 6.49968C0 10.0901 2.90923 12.9994 6.49968 12.9994C8.20272 12.9994 9.74952 12.3431 10.9088 11.2744V11.5932C10.9088 11.6932 10.9495 11.7869 11.0182 11.8588L15.0493 15.8898C15.1961 16.0367 15.4336 16.0367 15.5805 15.8898L15.8898 15.5805C16.0367 15.4336 16.0367 15.1961 15.8898 15.0493ZM6.49968 11.9994C3.45921 11.9994 0.999951 9.54016 0.999951 6.49968C0.999951 3.45921 3.45921 0.999951 6.49968 0.999951C9.54016 0.999951 11.9994 3.45921 11.9994 6.49968C11.9994 9.54016 9.54016 11.9994 6.49968 11.9994Z"></path>
        </svg>
      </div>
  
      <input type="text" #box (keyup.enter)="onKey(box.value)" placeholder="Buscar por modelo o codigo..." class="px-8 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
        </div>
  
      <div class="flex items-center justify-between mt-4">
     <!--    <p class="font-medium">
          Filters
        </p> -->
        <button (click)="valueFilter = !valueFilter" [ngClass]="'px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md '">
            Filtros
          </button>
  
        <!-- <button class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
          Reset Filter
        </button> -->
      </div>
  
      <div [ngClass]="'z-50 absolute bg-white animate__animated animate__slideInDown animate__faster p-4 rounded-md shadow ' + (valueFilter ? 'block' : 'hidden')" >
        <!-- *ngIf="valueFilter" -->
        <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
          <select *ngIf class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
            <option value="">All Type</option>
            <option value="for-rent">For Rent</option>
            <option value="for-sale">For Sale</option>
          </select>
  
          <select *ngIf class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
            <option value="">Furnish Type</option>
            <option value="fully-furnished">Fully Furnished</option>
            <option value="partially-furnished">Partially Furnished</option>
            <option value="not-furnished">Not Furnished</option>
          </select>
          <div>
              <div class="border p-3 rounded-md hover:bg-gray-50 cursor-pointer z-50" (click)="listaDeFiltros = !listaDeFiltros">
                  Opciones
              </div>
              <div [ngClass]="'absolute flex flex-col border  bg-white p-5 shadow rounded-md ' + (listaDeFiltros ? 'block' : 'hidden') " >
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="modelo" (change)="seleccionDeCheck($event)"><span class="ml-2 text-gray-700">Modelo</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="tela" (change)="seleccionDeCheck($event)"><span class="ml-2 text-gray-700">Tela</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="peso_promedio" (change)="seleccionDeCheck($event)" ><span class="ml-2 text-gray-700">Peso Promedio</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="taller" (change)="seleccionDeCheck($event)" ><span class="ml-2 text-gray-700">Taller</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="dibujo" (change)="seleccionDeCheck($event)" ><span class="ml-2 text-gray-700">Dibujo</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" value="edad" (change)="seleccionDeCheck($event)"><span class="ml-2 text-gray-700">Edad</span>
                </label>
              </div>


          </div>
  

        </div>
      </div>
    </div>

<!--   filtro end -->
</div>
  
    <div
      class="bg-white py-3 md:py-6 px-4 md:px-8 xl:px-10 overflow-auto h-full w-full rounded-sm "
    >
    
      <!--  lg:h-[100vh] lg:w-full -->
      <div class="sm:flex items-center justify-between" *ngIf="">
        <div class="flex items-center w-[400px]" #categoryChangeDiv>
          <div
            class="flex justify-start cursor-pointer"
            (click)="moveCategory('left', 150)"
          >
            <!-- <i style="font-size: 24px; color: #757d88" class="fas"> &#xf104;</i> -->

    <fa-icon [icon]="faArrowLeft" class=""  ></fa-icon>
            
          </div>
  
          <div
            class="flex items-center w-[400px] overflow-hidden"
            #categoryScrollX
          >
            <a
              href="javascript:void(0)"
              (click)="changeCategory(i)"
              *ngFor="let i of categoryChange"
            >
              <div
                [class]="
                  i === valueHomeCategory
                    ? 'py-2 px-8 bg-indigo-100 text-indigo-700 rounded-full'
                    : 'py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full'
                "
              >
                <p>{{ i | titlecase }}</p>
              </div>
            </a>
          </div>
  
      
          <div
            class="flex justify-end cursor-pointer"
            (click)="moveCategory('right', 150)"
          >
          <fa-icon [icon]="faArrowRight" class=""  ></fa-icon>

          </div>
        </div>
  
      </div>
  
      


          
  
      <div class="my-5 overflow-x-auto sm:w-full " *ngFor="let datosDis of dataArrays">
        <table class="w-full whitespace-nowrap " >
       
          
          <tbody class="relative   bg-white" >
            <tr class="h-16 border border-gray-100 rounded ">
              <td class="">
                <div class="ml-5">
                  <div
                    class="rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative"
                    (click)="viewSubTable(datosDis.id)"
                  >
                    <svg
                      width="24"
                      height="24"
                      stroke-width="2.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      style="cursor: pointer"
                    >
                      <path
                        d="M6 9L12 15L18 9"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                  </div>
                </div>
              </td>
              <td class="">
                <div class="flex items-center pl-5">
                  <p
                    class="text-base font-medium leading-none text-gray-700 mr-2"
                  >
                    {{datosDis.modelo}}
                  </p>
                </div>
              </td>
              <td class="pl-12 ">
                <div class="flex items-center">
                  <fa-icon [icon]="faShirt" class="" style="color:gray" ></fa-icon>

                  <p class="text-sm leading-none text-gray-600 ml-2">{{datosDis.estampado == null ?  '- -' : datosDis.estampado.dibujo}}</p>
                </div>
              </td>
              <td class="pl-5 ">
                <div class="flex items-center ">
                  
                  <p class="text-sm leading-none text-gray-600 ml-2 ">{{'Cant: '+ datosDis.cantidad_actual}}</p>
                </div>
              </td>
              <td class="pl-5 ">
                <div class="flex items-center  ">
           
                  <fa-icon [icon]="faUser" class=""  style="color:gray"></fa-icon>
                  <p class="text-sm leading-none text-gray-600 ml-2">{{eliminarArmadoresRepetidos(datosDis.distribucion)}}</p>
                </div>
              </td>

              <td class="pl-5 ">
                <button
                  (click)="cambiarEstadoEnvio(datosDis.id, datosDis.enviar_ventas)"
                  [ngClass]=" (datosDis.enviar_ventas == true ? 'bg-green-300 hover:bg-yellow-200 ' : 'bg-gray-300 hover:bg-gray-200 ') + 'py-2 px-3 text-sm focus:outline-none leading-none text-gray-600rounded flex flex-row items-center gap-[5px]'"
                >
                  <svg
                    width="20"
                    height="20"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 640 512 "
                  >
                    <path
                      fill="#52525B"
                      stroke="red"
                      d="M112 0C85.49 0 64 21.49 64 48V96H16C7.163 96 0 103.2 0 112C0 120.8 7.163 128 16 128H272C280.8 128 288 135.2 288 144C288 152.8 280.8 160 272 160H48C39.16 160 32 167.2 32 176C32 184.8 39.16 192 48 192H240C248.8 192 256 199.2 256 208C256 216.8 248.8 224 240 224H16C7.163 224 0 231.2 0 240C0 248.8 7.163 256 16 256H208C216.8 256 224 263.2 224 272C224 280.8 216.8 288 208 288H64V416C64 469 106.1 512 160 512C213 512 256 469 256 416H384C384 469 426.1 512 480 512C533 512 576 469 576 416H608C625.7 416 640 401.7 640 384C640 366.3 625.7 352 608 352V237.3C608 220.3 601.3 204 589.3 192L512 114.7C499.1 102.7 483.7 96 466.7 96H416V48C416 21.49 394.5 0 368 0H112zM544 237.3V256H416V160H466.7L544 237.3zM160 464C133.5 464 112 442.5 112 416C112 389.5 133.5 368 160 368C186.5 368 208 389.5 208 416C208 442.5 186.5 464 160 464zM528 416C528 442.5 506.5 464 480 464C453.5 464 432 442.5 432 416C432 389.5 453.5 368 480 368C506.5 368 528 389.5 528 416z"
                    />
                  </svg>
  
                  <label class="text-gray-800">
                   
                    {{datosDis.enviar_ventas == true ? "Enviado" : "Sin Enviar"}}
                    <!-- <p class="text-sm leading-none text-gray-600">04/07</p> -->
                  </label>
  
                  <!-- Enviado -->
                </button>
                
              </td>
              <td class="pl-4">
                <button
                (click)="abrirAgregarDistribucion(datosDis.cantidad_actual, datosDis.id)"
                  class="text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
                >
                  Agregar
                </button>
              </td>
 
            </tr>
          </tbody>
        </table>
  
    
<!-- 
        <app-sub-table-dis-produccion 
        *ngIf="isSubTable" 
        [dataArrays]="datosDis.distribucion"
        >

        </app-sub-table-dis-produccion>
 -->


    <!-- ESTA ES LA SUB TABLE DE PRUEBA  -->
        <div class="sm:px-4 xl:w-auto  animate__animated animate__slideInDown z-30 w-full" *ngIf="dataArraysSub[datosDis.id]" >
          <!--  sm:w-[1050px] -->
           <!-- *ngIf="isSubTable"  -->
           <div class=" bg-white overflow-y-auto flex justify-center" >
               <!-- shadow -->
               <table class="whitespace-nowrap border border-gray-100 lg:w-11/12 sm:w-11/12" >
                   <thead>
                       <tr class="h-12 w-full text-sm leading-none text-gray-800 bg-slate-100">
                          
       
                           <th class="font-normal text-left pl-10">Cantidad</th>
                           <th class="font-normal text-left">Talles</th>
                           <th class="font-normal text-left">Tela</th>
                           <th class="font-normal text-left">Local</th>
                           <th class="font-normal text-left">Edad</th>
                           <th class="font-normal text-center">Fallas</th>
                           <!-- <th class="font-normal text-left pl-16"></th> -->
                           <th class=""></th>
                           <th class=""></th>
                     
                       </tr>
                   </thead>
                   <tbody class="w-full" *ngFor="let sub of datosDis.distribucion">
                       <tr class="h-14 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
                           <td class="cursor-pointer">
                               <div class="flex items-center">
                                   <div class="w-10 h-10 flex justify-center items-center hover:shadow hover:rounded-full hover:bg-[#E0E7FF]" >
                                       <svg width="24" height="24" stroke-width="2.5" viewBox="0 0 24 24" fill="none"
                                       xmlns="http://www.w3.org/2000/svg" style="cursor:pointer;" >
                                       <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                     </svg>
                              
                                   </div>
                                   <div class="pl-4">
                                       <p class="font-medium">{{sumaYtalles(sub.talle, 'cantidad')}}</p>
                                       <!-- <p class="text-xs leading-3 text-gray-600 pt-2">Herman Group</p> -->
                                   </div>
                               </div>
                           </td>
                           <td class="">
                               <p class="text-sm font-medium leading-none text-gray-800 ">{{sumaYtalles(sub.talle, 'talles')}}</p>
                              <!--  <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                                   <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                               </div> -->
                           </td>
                           <td class="">
                               <p class="font-medium capitalize">{{datosDis.tela}}</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">5 tasks pending</p> --> 
                           </td>
                           <td class="">       
                               <p class="font-medium capitalize">{{sub.local == null ? '- -' : sub.local.nombre}}</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">$4,200 left</p> -->
                           </td>
                           <td class="">
                               <p class="font-medium capitalize">{{datosDis.edad}}</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">34 days</p> -->
                           </td>
                           <td class="">
                               <p class="font-medium text-center">0</p>
                               <!-- <p class="text-xs leading-3 text-gray-600 mt-2">34 days</p> -->
                           </td>
                       <!--     <td class="pl-16">
                               <div class="flex items-center">
                                   <img class="shadow-md w-8 h-8 rounded-full" src="https://cdn.tuk.dev/assets/templates/olympus/projects(8).png" />
                                   <img class="shadow-md w-8 h-8 rounded-full -ml-2" src="https://cdn.tuk.dev/assets/templates/olympus/projects(9).png" />
                                   <img class="shadow-md w-8 h-8 rounded-full -ml-2" src="https://cdn.tuk.dev/assets/templates/olympus/projects(10).png" />
                                   <img class="shadow-md w-8 h-8 rounded-full -ml-2" src="https://cdn.tuk.dev/assets/templates/olympus/projects(11).png" />
                               </div>
                           </td> -->
                           <td class="">
       
                               <div class="flex justify-center" >
                                  
       
                                  <button
                                  (click)="servicioProduccion.IDdistribucion$.emit(sub.id)"
                                  (click)="servicioProduccion.arrayFallasEliminar$.emit(sub.talle)"
                                  (click)="VentanaDeFallas = !VentanaDeFallas"
                                  class="py-2 px-3 text-sm focus:outline-none leading-none text-gray-600 bg-orange-200 hover:bg-orange-100 rounded flex flex-row items-center gap-[5px]"
                                 >
                              
           
                                <!--    <svg  
                                   width="20"
                                   height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                   <path fill="#52525B" d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32s-14.33 32-32 32S160 113.7 160 96S174.3 64 192 64zM282.9 262.8l-88 112c-4.047 5.156-10.02 8.438-16.53 9.062C177.6 383.1 176.8 384 176 384c-5.703 0-11.25-2.031-15.62-5.781l-56-48c-10.06-8.625-11.22-23.78-2.594-33.84c8.609-10.06 23.77-11.22 33.84-2.594l36.98 31.69l72.52-92.28c8.188-10.44 23.3-12.22 33.7-4.062C289.3 237.3 291.1 252.4 282.9 262.8z"/>
                               </svg> -->

                               <fa-icon [icon]="faTrash" class=""  ></fa-icon>
                                   <label class="text-gray-800">
                                     Eliminar            
                                   </label>
                   
                                   <!-- Enviado -->
           
       
           
       
                                 </button>
           
                             
                               </div>
       
                              
                           </td>
       
                           <td class="" >
       
                               <div class="flex justify-center">
                                  
       
                                <button
                                (click)="servicioProduccion.IDdistribucion$.emit(sub.id)"
                                (click)="servicioProduccion.arrayFallasEliminar$.emit(sub.talle)"

                                (click)="VentanaDeEliminar = !VentanaDeEliminar"
                                
                                class="py-2 px-3 text-sm focus:outline-none leading-none text-gray-600 bg-red-300	 hover:bg-red-200	 rounded flex flex-row items-center gap-[5px]"
                                >
                              
           
                                 <svg 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 512 512"
                                 width="20"
                                 height="20"
                                 >
                                     <path fill="#52525B" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM232 152C232 138.8 242.8 128 256 128s24 10.75 24 24v128c0 13.25-10.75 24-24 24S232 293.3 232 280V152zM256 400c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 385.9 273.4 400 256 400z"/>
                                   </svg>
                   
                                   <label class="text-gray-800">
                                     Fallas            
                                   </label>
                   
                                  
           
       
           
       
                                 </button>
           
                             
                               </div>
       
                              
                           </td>
                       </tr>
                   
              
                   </tbody>
               </table>

               
                 
           </div>


       
       
       </div>
       <!-- ESTA ES LA SUB TABLE DE PRUEBA  -->
        <!-- segundo producto -->





        <app-add-productos-produccion *ngIf="isDistribucion" [cantidad_actual]="cantidadEntega" [cerrarVenta]="isDistribucion" [seleccionDeHistorialDis]="seleccionDistribucion"></app-add-productos-produccion>

        <app-eliminar-ofallas [Eliminar]="VentanaDeEliminar" [Fallas]="VentanaDeFallas" (EmitEliminar)="VentanaDeEliminar = $event" (EmitFallas)="VentanaDeFallas = $event"  ></app-eliminar-ofallas>


      </div>

<!--       <div class=" px-5 bg-white py-1 flex flex-col xs:flex-row items-center xs:justify-between">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex items-center -space-x-px  overflow-x-auto " #categoryScrollX
            style="max-width:330px"
            >

              <li class="sticky top-0 left-0 w-full flex justify-start">
                <a (click)="cambioDePaginaNext(false)"  class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <span class="sr-only">Previous</span>
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                </a>
              </li>

              <div class="flex items-center " *ngFor="let i of items">

                <li >
                    <a id="{{i}}" 
                    (click)="cambioDePagina($event)"
                    [ngClass]="' cursor-pointer py-2 px-3 leading-tight text-gray-500' + ( i == estadoDePagina ? 'z-10 text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700' :  'bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')"
                     >{{i + 1}}</a>
                </li>

            </div>


              <li class="sticky top-0 right-0 w-full flex justify-end">

                <a (click)="cambioDePaginaNext(true)" class=" block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <span class="sr-only">Next</span>
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
              </li>
            </ul>
          </nav>
        


    </div> -->

    <app-paginacion-produccion
    [conteoDePagina]="conteoDepagina"
    (paginacion)="paginacion($event)"
    >

    </app-paginacion-produccion>
    </div>

  
    <style>
      .checkbox:checked + .check-icon {
        display: flex;
      }
    </style>
  </div>


