<div class="sm:px-4 xl:w-auto  animate__animated animate__slideInDown" *ngIf="isSubTable"  >
    <!-- *ngIf="isSubTable"  -->
    <div class="bg-white shadow overflow-y-auto">
      
        <table class="w-full whitespace-nowrap">
            <thead>
                <tr class="h-11 w-full text-sm leading-none text-gray-800 bg-slate-100">
                    <th class="font-normal text-center text-gray-800">ID</th>
                    <th class="font-normal text-center text-gray-800">Modelo</th>
                    <th class="font-normal text-center text-gray-800">Dibujo/Diseño</th>
                    <th class="font-normal text-center text-gray-800">Color</th>
                    <th class="font-normal text-center text-gray-800">Tela</th>
                    <th class="font-normal text-center text-gray-800">Talle</th>
                    <th class="font-normal text-center text-gray-800">Local</th>
                    <th class="font-normal text-center text-gray-800">Precio</th>
                    <th class="font-normal text-center text-gray-800"></th>
                </tr>
            </thead>
            <tbody class="w-full" *ngFor="let item of arraySubProductos.distribucion">
                <tr class="h-12 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
                    <td class="cursor-pointer">
                        
                           <!--  <div class="w-10 h-10">
                                <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/olympus/projects.png" />
                            </div> -->
                            
                                <p class="font-medium text-center">{{item.productoVentas.id || '- -'}}</p>
                               <!--  <p class="text-xs leading-3 text-gray-600 pt-2">Herman Group</p> -->
                        
                       
                    </td>
                    <td class="">
                        <p class="text-sm font-medium leading-none text-gray-800 text-center">{{item.productoVentas.sub_modelo == null ? arraySubProductos.modelo : item.productoVentas.sub_modelo }}</p>
                      <!--   <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                            <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                        </div> -->
                    </td>
                    <td class="">
                        <p class="text-sm font-medium leading-none text-gray-800 text-center">{{item.productoVentas.sub_dibujo == null ? arraySubProductos.estampado.dibujo : item.productoVentas.sub_dibujo }}</p>
                      <!--   <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                            <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                        </div> -->
                    </td>
                    <td class="">
                        <p class="text-sm font-medium leading-none text-gray-800 text-center">{{item.productoVentas.color}}</p>
                      <!--   <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                            <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                        </div> -->
                    </td>
                    <td class="">
                        <p class="font-medium text-center">{{arraySubProductos.tela}}</p>
                       <!--  <p class="text-xs leading-3 text-gray-600 mt-2">5 tasks pending</p> -->
                    </td>
                    <td class="">
               
                       <div class="flex justify-center">
                        <select
                          class="flex w-32 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                        >
                          <option value="">
                            {{ arrayTalles(item.productoVentas.talles_ventas) }}
                          </option>
                          <option
                            [value]="T.id"
                            *ngFor="let T of item.productoVentas.talles_ventas"
                            class="text-center"
                          >
                            {{ "Talle: " + T.talles + " | Cantidad: " + T.cantidad }}
                          </option>
                        </select>
                      </div>
                    </td>
                    <td class="">
                        <p class="font-medium text-center">{{item.local.nombre || '- -'}}</p>
                     <!--    <p class="text-xs leading-3 text-gray-600 mt-2">34 days</p> -->
                    </td>
                    <td class="">
                        <p class="font-medium text-center">${{item.productoVentas.precio || '- -'}}</p>

                     
                    </td>
                    <td class="">

                        <div class="grid justify-center">
                            <button
                            class=" bg-gray-200 transition duration-150 ease-in-out focus:outline-none hover:bg-gray-300 rounded text-gray-700 px-3 py-1 text-xs"
                            (click)="viewModify(item.id)"
                            (click)="servicioVentas.abrirCerrarVentanaModificarProducto = !servicioVentas.abrirCerrarVentanaModificarProducto"
                          >
                            Editar
                          </button>
                        </div>
                      
                    </td>
              
                </tr>

          
            </tbody>
        </table>
    </div>
</div>


<app-modify-home 
[isModifySub]="isModify"
[IDproducto]="seleccionIDproducto"
[ArrayDistribucion]="arraySubProductos"
></app-modify-home>
