
<div class="flex items-center justify-center h-screen bg-white">

    <div class="flex flex-col gap-10">
        <h3 class="text-3xl text-gray-400 ">Opciones de pagos</h3>
        <div class="flex gap-5">

            <div class="bg-white border rounded-md hover:shadow-lg cursor-pointer transition ease-in-out delay-150 ">
                <div class="m-8 flex items-center gap-3">
                    <fa-icon [icon]="faBuilding" size="2x" style="color:grey" ></fa-icon>
                    <h2 class="text-gray-700 text-3xl">Talleres</h2>
                </div>
            </div>

            <div class="bg-white border rounded-md hover:shadow-lg cursor-pointer transition ease-in-out delay-150 ">
                <div class="m-8 flex items-center gap-3">
                    <fa-icon [icon]="faShirt" size="2x" style="color:grey" ></fa-icon>
                    <h2 class="text-gray-700 text-3xl">Estampadores</h2>
                </div>
            </div>

            <div class="bg-white border rounded-md  ">
                <div class="m-8 flex items-center gap-3">
                    <fa-icon [icon]="faPerson" size="2x" style="color:grey" ></fa-icon>
                    <h2 class="text-gray-700 text-3xl line-through	">Empleados</h2>
                </div>
            </div>
    
        </div>
    </div>
  

</div>