<div
  class=" overflow-x-auto mx-8 max-h-[150px] flex justify-center animate__animated animate__slideInDown z-10"
  *ngIf="isSubTableFailures"
>
  <!-- *ngIf="isSubTableFailures" -->
  <table
    class="relative w-6/12 text-sm text-left text-gray-500 dark:text-gray-400"
  >
    <thead
      class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="sticky top-0 px-6 py-3 text-center">#ID</th>
        <th scope="col" class="sticky top-0 px-6 py-3 text-center">Cantidad</th>
        <th scope="col" class="sticky top-0 px-6 py-3 text-center">Talle</th>
        <th scope="col" class="sticky top-0 px-6 py-3 text-center">Estado</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>

    <tbody class="overflow-y-scroll">
      <tr class="bg-red-200 border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-center"
        >
          17
        </th>
        <td class="px-6 py-4 text-gray-900 text-center">5</td>
        <td class="px-6 py-4 text-gray-900 text-center">14</td>
        <td class="px-6 py-4 text-gray-900 text-center">Ventas</td>
        <td class="px-6 py-4 text-right">
          <a
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
