<section class="bg-white h-screen dark:bg-gray-900 ">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
      Opciones<br />
      para <span class="text-blue-500">Ventas</span>
    </h1>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3"
     
    >

    <div
      
    class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl dark:bg-gray-800 cursor-pointer"
    (click)="abrirVentana = !abrirVentana"
  >
    <span
      class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500"
    >
    <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
    />
  </svg>
    </span>

    <h1
      class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
    >
        Agregar nuevo Producto
    </h1>

  
  
  </div>
      <div
        class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl dark:bg-gray-800 cursor-pointer"
        (click)="servicioVentas.abrirCerrarVentanaAgregarCategorias = !servicioVentas.abrirCerrarVentanaAgregarCategorias" 
      >
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            />
          </svg>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          Agregar categorias
        </h1>

    
      </div>

      <div
        class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl dark:bg-gray-800 cursor-pointer"
        (click)="servicioVentas.abrirCerrarVentanaMigrarProducto = !servicioVentas.abrirCerrarVentanaMigrarProducto"
      >
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            />
          </svg>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          Migrar productos a otro local
        </h1>

       
      </div>

      <div
      
        class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl dark:bg-gray-800 cursor-pointer"
        (click)="servicioVentas.abrirCerrarVentanaAgregarLocal = !servicioVentas.abrirCerrarVentanaAgregarLocal"
      >
        <span
          class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500"
        >
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
        />
      </svg>
        </span>

        <h1
          class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
            Agregar local nuevo
        </h1>

      
      
      </div>






    </div>
  </div>
</section>


<app-agregar-categoria *ngIf="servicioVentas.abrirCerrarVentanaAgregarCategorias"></app-agregar-categoria>

<app-migrar-productos *ngIf="servicioVentas.abrirCerrarVentanaMigrarProducto"></app-migrar-productos>


<app-agregar-nuevo-local *ngIf="servicioVentas.abrirCerrarVentanaAgregarLocal"></app-agregar-nuevo-local>


<app-agregar-productos 
*ngIf="abrirVentana"
(cerrarVentana)="abrirVentana = !abrirVentana"
></app-agregar-productos>